.accent-line {
	background-color: $red;
	color: $light;
	padding-top: 13px;
	padding-bottom: 13px;
	font-weight: 500;
	font-size: 16px;
	&--hidden {
		display: none;
	}
	@include r(1200) {
		display: none;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include r(1200) {
			align-items: flex-start;
		}
	}
	&__content {
		padding-right: 25px;
		// margin-bottom: 67px;
		@include r(1200) {
			padding-right: 5px;
		}
	}
	&__close {
		padding: 10px;
		cursor: pointer;
		transition: 0.3s all;
		@include r(1200) {
			padding: 6px;
		}
		&:hover {
			opacity: 0.7;
		}
		svg {
			width: 20px;
			height: 20px;
			@include r(1200) {
				width: 14px;
				height: 14px;
			}
		}
	}
}

.head-main {
	padding-top: 25px;
	padding-bottom: 21px;
	@include r(1200) {
		display: none;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	&__section {
		&--left {
			width: calc(40% - 10px);
		}
		&--right {
			width: calc(60% - 10px);
		}
	}
	&__logo {
		display: block;
		width: object-fit;
		max-width: 364px;
		width: 100%;
		height: auto;
		margin-bottom: 26px;
		img {
			display: block;
			width: 100%;
		}
	}
}

.head-nav {
	background-color: $dark;
	color: $light;
	padding-top: 15px;
	padding-bottom: 15px;
	@include r(1200) {
		display: none;
	}
	&__content {
		display: flex;
		align-items: center;
	}
	&__column {
		width: 50%;
	}
}

.head-mobile {
	display: none;
	padding-top: 13px;
	padding-bottom: 13px;
	@include r(1200) {
		display: block;
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		display: block;
		max-width: 200px;
		img {
			width: 100%;
		}
	}
	&__search {
		flex-grow: 1;
		margin-top: 20px;
		width: 100%;
	}
	&__input {
		box-sizing: border-box;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.06);
		background-color: $light;
		border: none;
		height: 30px;
		font-size: 16px;
		overflow: hidden;
		border-radius: 4px;
		display: block;
		width: 100%;
		background-repeat: no-repeat;
		background-position: 10px center;
		padding-left: 35px;
		padding-right: 12px;
	}
	&__btn {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.top-nav {
	display: flex;
	align-items: center;
	&__link {
		padding: 10px;
		color: $light;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		text-transform: uppercase;
		svg {
			margin-right: 10px;
			fill: #00B152;
		}
		span {
			position: relative;
			top: 1px;
		}
		&--active {
			border: 2px solid $green;
		}
		&:hover {
			opacity: 0.7;
		}
	}
}

.right-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 17px;
	&__nav {
		display: flex;
		align-items: center;
	}
	&__link {
		text-decoration: none;
		color: #828282;
		display: block;
		margin-right: 26px;
		&:last-child {
			margin-right: 0px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__toolbar {
		display: flex;
	}
	&__btn {
		margin-left: 20px;
		display: flex;
		align-items: center;
		text-decoration: none;
		// text-transform: uppercase;
		color: $dark;
		max-width: 180px;
		overflow: hidden;
		span {
			margin-right: 8px;
			min-width: 0px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		svg {
			flex-shrink: 0;
			width: 29px;
			height: 29px;
		}
	}
}

.right-info {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&__phone {
		flex-shrink: 0;
		color: $dark;
		font-weight: bold;
		font-size: 20px;
		margin-right: 10px;
		text-decoration: none;
		&:hover {
			opacity: 0.7;
		}
	}
	&__text {
		font-size: 14px;
		line-height: 1.3;
		strong {
			color: $green;
			// text-transform: uppercase;
			font-weight: bold;
		}
		a {
			color: $dark;
			&:hover {
				text-decoration: none;
			}
		}
	}
}