.partners {
	margin-bottom: 150px;
	padding-top: 50px;
	@include r(1200) {
		padding-top: 25px;
		margin-bottom: 50px;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// margin-bottom: 67px;
		// @include r(1700) {
		// 	margin-bottom: 32px;
		// }
		@include r(440) {
			display: block;
		}
	}
	&__link {
		color: #828282;
		font-size: 20px;
		&:hover {
			text-decoration: none;
		}
		@include r(1200) {
			font-size: 16px;
		}
	}
	&__title {
		margin-bottom: 67px;
		@include r(1700) {
			margin-bottom: 45px;
		}
	}
	&__article {

	}
}

.front-partner {
	text-decoration: none;
	display: flex;
	width: calc(100% / 12 - 32px);
	padding: 10px;
	background-color: $light;
	margin-bottom: 16px;
	@include r(1700) {
		width: calc(100% / 12 - 20px);
		margin-bottom: 10px;
	}
	@include r(1200) {
		width: calc(100% / 6 - 8px);
		margin-bottom: 8px;
		display: none;
		&:nth-child(1) {
			display: flex;
		}
		&:nth-child(2) {
			display: flex;
		}
		&:nth-child(3) {
			display: flex;
		}
		&:nth-child(4) {
			display: flex;
		}
		&:nth-child(5) {
			display: flex;
		}
		&:nth-child(6) {
			display: flex;
		}
	}
	@include r(440) {
		width: calc(100% / 3 - 8px);
	}
	// @include r(440) {
	// 	width: 96px;
	// }
	&--clear {
		height: 0px !important;
		visibility: hidden;
		overflow: hidden;
		padding: 0px;
	}
	&:hover {
		img {
			filter: grayscale(0%);
			-webkit-filter: grayscale(0);
		}
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
		filter: grayscale(100%);
		filter: #808080;
		-webkit-filter: grayscale(1);
		transition: all 0.3s;
	}
}

.partner {
	text-decoration: none;
	display: flex;
	width: 248px;
	height: 248px;
	width: calc(20% - 32px);
	padding: 10px;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
	margin-bottom: 32px;
	background-color: $light;
	@include r(1700) {
		width: calc(20% - 20px);
		margin-bottom: 20px;
	}
	@include r(1200) {
		width: calc(20% - 12px);
		margin-bottom: 12px;
	}
	@include r(740) {
		width: calc(100% / 3 - 12px);
		margin-bottom: 12px;
	}
	@include r(480) {
		width: calc(100% / 2 - 6px);
		margin-bottom: 12px;
	}
	&--clear {
		height: 0px !important;
		visibility: hidden;
		overflow: hidden;
		padding: 0px;
	}
	&:hover {
		img {
			filter: grayscale(0%);
			-webkit-filter: grayscale(0);
		}
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
		filter: grayscale(100%);
		filter: #808080;
		-webkit-filter: grayscale(1);
		transition: all 0.3s;
	}
}