.slider {
	margin-bottom: 48px;
	@include r(1200) {
		margin-bottom: 0px;
	}
}

.slider-top {
	width: 100%;
	margin-bottom: 32px;
	overflow: hidden;
	@include r(1200) {
		margin-bottom: 0px;
	}
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		// height: 100%;
		height: 528px;
		@include r(1200) {
			height: 100%;
		}
		img {
			height: 100%;
			width: 100%;
			display: block;
			object-fit: cover;
		}
	}
	&__pagination {
		display: none;
		@include r(1200) {
			display: block;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&__btn {
		display: none;
		transition: 0.3s all;
		transform: translateY(-22px);
		@include r(1200) {
			display: block;
			color: $dark;
		}
		&--disabled {
			opacity: 0.4;
		}
	}
}

.slider-bottom {
	height: 108px;
	overflow: hidden;
	position: relative;
	@include r(1200) {
		display: none;
	}
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 108px;
		height: 108px;
		transition: 0.3s all;
		opacity: 0.6;
		img {
			height: 100%;
			width: 100%;
			display: block;
			object-fit: cover;
		}
		&:hover {
			opacity: 0.8;
			cursor: pointer;
		}
		&--active {
			opacity: 1;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		top: 0px;
		z-index: 2;
		position: absolute;
		bottom: 0px;
		background-color: $black;
		transition: 0.3s all;
		svg {
			display: block;
		}
		&--left {
			left: 0px;
		}
		&--right {
			right: 0px;
			svg {
				transform: rotate(180deg);
			}
		}
		&:hover {
			background-color: $green;
			cursor: pointer;
		}
	}
}