.about {
	margin-bottom: 50px;
	padding-top: 50px;
	@include r(1200) {
		padding-top: 25px;
		margin-bottom: 25px;
	}
	&__title {
		margin-bottom: 38px;
		@include r(1200) {
			margin-bottom: 20px;
		}
	}
	&__columns {
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			display: block;
		}
	}
	&__column {
		&--video {
			width: calc(100% / 12 * 8 - 10px);
			@include r(1200) {
				width: 100%;
				margin-bottom: 20px;
			}
			iframe {
				height: 470px;
				width: 100%;
				@include r(440) {
					height: 200px;
				}

			}
		}
		&--content {
			width: calc(100% / 12 * 4 - 10px);
			@include r(1200) {
				width: 100%;
			}
		}
	}
}