<!DOCTYPE html>
<html lang="ru">
<head>
    <title>10. Оклейка</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="catalog">
                <div class="container">
                    <div class="catalog__content">
                        <div class="catalog__side">
                            <aside class="sidebar">
                                <p class="title-small sidebar__title">
                                    <span>Категории</span>
                                </p>
                                <a href="" class="sidebar__link">
                                    Карта скидок “Балтламинат”
                                </a>
                                <a href="" class="sidebar__link">
                                    Изготовление дверей для шкафов-купе
                                </a>
                                <a href="" class="sidebar__link sidebar__link--active">
                                    Оклейка
                                </a>
                                <a href="" class="sidebar__link">
                                    Распил
                                </a>
                                <a href="" class="sidebar__link">
                                    Доставка
                                </a>
                                <a href="" class="sidebar__link">
                                    Уд@ленный заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Товары под заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Нарезка и обработка стекла / зеркала
                                </a>
                                <a href="" class="sidebar__link">
                                    Фрезеровка
                                </a>
                                <a href="" class="sidebar__link">
                                    Заточка инструмента
                                </a>
                                <a href="" class="sidebar__link">
                                    Сверление
                                </a>
                            </aside>
                        </div>
                        <div class="catalog__main">
                            <section class="service">
                                <div class="service__grid">
                                    <div class="service__column service__column--4">
                                        <div class="grid__block">
                                            @@include("../blocks/modules/slider/slider.html")
                                        </div>
                                        <div class="grid__block">
                                            <div class="product-files">
                                                <p class="title-small title-small--product product-files__title">
                                                    <span>
                                                        Документы
                                                    </span>
                                                </p>
                                                <a href="" class="link-file">
                                                    <svg class="icon-svg link-file__icon">
                                                        <use xlink:href="img/sprites/sprite.svg#icon-pdf"></use>
                                                    </svg>
                                                    <p class="link-file__title">
                                                        Прайс-лист Оклейка.xls <strong>Скачать</strong>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service__column service__column--6">
                                        <div class="grid__block">
                                            <div class="service-text">
                                                <h1 class="service-text__title">
                                                    Сверление
                                                </h1>
                                                <div class="service-text__content text">
                                                    <p>
                                                        В комплексе с услугой раскроя ЛДСП ГК Балтламинат предоставляет услуги нанесения кромочной ленты (кромкооблицовка) ЛДСП. Декоративная кромочная лента имеет множество различных цветов и текстур, что позволит выбрать вариант, который будет подходить именно Вам.
                                                    </p>
                                                    <p>
                                                        Листы ДСП на торцах выглядят не совсем эстетично. Спрессованные опилки на торцах закрывают специальной кромочной лентой.
                                                    </p>
                                                    <h6>
                                                        Оклейка ДСП кромочной лентой выполняет две функции:
                                                    </h6>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                придает готовым изделиям красивый и эстетичный вид;
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                защищает торцы мебели от влаги и различных повреждений.
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <p>
                                                        Покрытие торцов соответствующей кромомочной лентой является трудоемкой процедурой, требующей знаний и опыта. Кроме того, от качественно наклеенной ленты, ее долговечности, будет зависеть общий вид всего изделия. Удачно подобранная кромочная лента по цветовому дизайну сделает предмет мебели необычным и функциональным.
                                                    </p>
                                                    <p>
                                                        Оклейка кромочной лентой проводится на высококачественных станках. Применяемая кромка также отличного качества. Обычно она бывает разной ширины и толщины от 0,45 мм до 2 мм. Ее ширина зависит от толщины применяемого ДСП и варьируется в разных размерах.
                                                    </p>
                                                    <p>
                                                        <b>
                                                            Внимание: После оклейки, деталь на толщину кромочной ленты не увеличивается!
                                                        </b>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
