<!DOCTYPE html>
<html lang="ru">
<head>
    <title>13. Заточка инструмента</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="catalog">
                <div class="container">
                    <div class="catalog__content">
                        <div class="catalog__side">
                            <aside class="sidebar">
                                <p class="title-small sidebar__title">
                                    <span>Категории</span>
                                </p>
                                <a href="" class="sidebar__link">
                                    Карта скидок “Балтламинат”
                                </a>
                                <a href="" class="sidebar__link">
                                    Изготовление дверей для шкафов-купе
                                </a>
                                <a href="" class="sidebar__link">
                                    Оклейка
                                </a>
                                <a href="" class="sidebar__link">
                                    Распил
                                </a>
                                <a href="" class="sidebar__link">
                                    Доставка
                                </a>
                                <a href="" class="sidebar__link">
                                    Уд@ленный заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Товары под заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Нарезка и обработка стекла / зеркала
                                </a>
                                <a href="" class="sidebar__link">
                                    Фрезеровка
                                </a>
                                <a href="" class="sidebar__link sidebar__link--active">
                                    Заточка инструмента
                                </a>
                                <a href="" class="sidebar__link">
                                    Сверление
                                </a>
                            </aside>
                        </div>
                        <div class="catalog__main">
                            <section class="service">
                                <div class="service__grid">
                                    <div class="service__column service__column--4">
                                        <div class="grid__block">
                                            @@include("../blocks/modules/product/product-image.html")
                                        </div>
                                        
                                    </div>
                                    <div class="service__column service__column--6">
                                        <div class="grid__block">
                                            <div class="service-text">
                                                <h1 class="service-text__title">
                                                    Заточка инструмента
                                                </h1>
                                                <div class="service-text__content text">
                                                    <p>
                                                        Уважаемые клиенты! <br>
                                                        Компания Балтламинат оказывает своим клиентам услугу по заточке инструмента. Заявку Вы можете оставить в отделе "Инструмент" по адресу: Советский проспект 125. <br>
                                                        <b>Мы оказываем услугу заточки инструмента на:</b> пилы, фрезы  и сверла, в дальнейшем планируется заточка лопат, ножниц, цепей и т.д. 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid__block">
                                            <div class="product-files">
                                                <p class="title-small title-small--product product-files__title">
                                                    <span>
                                                        Документы
                                                    </span>
                                                </p>
                                                <a href="" class="link-file">
                                                    <svg class="icon-svg link-file__icon">
                                                        <use xlink:href="img/sprites/sprite.svg#icon-xls"></use>
                                                    </svg>
                                                    <p class="link-file__title">
                                                        Прайс-лист Заточка.xls <strong>Скачать</strong>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service__column service__column--8">
                                        <div class="grid-block">
                                            <div class="service-table">
                                                <p class="title-small title-small--product service-table__title">
                                                    <span>
                                                        Прайс-лист услуг заточки инструмента
                                                    </span>
                                                </p>
                                                <div class="service-table__table table">
                                                    <div class="table__line table__line--head">
                                                        <div class="table__cell">
                                                            Заточка пил
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line table__line--head">
                                                        <div class="table__cell">
                                                            Заточка пил
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line table__line--head">
                                                        <div class="table__cell">
                                                            Заточка пил
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line table__line--head">
                                                        <div class="table__cell">
                                                            Заточка пил
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table__line">
                                                        <div class="table__cell table__cell--75">
                                                            Заточка пилы Z 6-36
                                                        </div>
                                                        <div class="table__cell table__cell--25">
                                                            <span class="table__light">
                                                                Цена/шт
                                                            </span>
                                                            <span class="table__price">
                                                                <strong>
                                                                    180
                                                                </strong>
                                                                РУБ.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
