<!DOCTYPE html>
<html lang="ru">
<head>
    <title>15. Фрезеровка</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="catalog">
                <div class="container">
                    <div class="catalog__content">
                        <div class="catalog__side">
                            <aside class="sidebar">
                                <p class="title-small sidebar__title">
                                    <span>Категории</span>
                                </p>
                                <a href="" class="sidebar__link">
                                    Карта скидок “Балтламинат”
                                </a>
                                <a href="" class="sidebar__link">
                                    Изготовление дверей для шкафов-купе
                                </a>
                                <a href="" class="sidebar__link">
                                    Оклейка
                                </a>
                                <a href="" class="sidebar__link">
                                    Распил
                                </a>
                                <a href="" class="sidebar__link">
                                    Доставка
                                </a>
                                <a href="" class="sidebar__link">
                                    Уд@ленный заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Товары под заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Нарезка и обработка стекла / зеркала
                                </a>
                                <a href="" class="sidebar__link sidebar__link--active">
                                    Фрезеровка
                                </a>
                                <a href="" class="sidebar__link">
                                    Заточка инструмента
                                </a>
                                <a href="" class="sidebar__link">
                                    Сверление
                                </a>
                            </aside>
                        </div>
                        <div class="catalog__main">
                            <section class="service">
                                <div class="service__grid">
                                    <div class="service__column service__column--4">
                                        <div class="grid__block">
                                            @@include("../blocks/modules/slider/slider.html")
                                        </div>
                                    </div>
                                    <div class="service__column service__column--6">
                                        <div class="grid__block">
                                            <div class="service-text">
                                                <h1 class="service-text__title">
                                                    Фрезеровка
                                                </h1>
                                                <div class="service-text__content text">
                                                    <p>
                                                        Балтламинат оказывает комплекс услуг на современном деревообрабатывающем центре концерна Homag. Если Вы хотите выделиться своим изделием среди конкурентов и произвести впечатление на своего клиента, Вам определенно нужно обратиться к нам.
                                                    </p>
                                                    <p>
                                                        <b>Контакты технолога:</b><br>
                                                        313-047 - Александр Борщевой <br>
                                                        <a href="tel:tc@baltlaminat.ru">tc@baltlaminat.ru</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid__block">
                                            <div class="product-files">
                                                <p class="title-small title-small--product product-files__title">
                                                    <span>
                                                        Документы
                                                    </span>
                                                </p>
                                                <a href="" class="link-file">
                                                    <svg class="icon-svg link-file__icon">
                                                        <use xlink:href="img/sprites/sprite.svg#icon-xls"></use>
                                                    </svg>
                                                    <p class="link-file__title">
                                                        Полное описание услуг деревообрабатывающего центра HOMAG.xls <strong>Скачать</strong>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service__column service__column--8">
                                        <div class="grid__block">
                                            @@include("../blocks/modules/product/product-video.html")
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
