<!DOCTYPE html>
<html lang="ru">
<head>
    <title>16. Уд@ленный заказ</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="catalog">
                <div class="container">
                    <div class="catalog__content">
                        <div class="catalog__side">
                            <aside class="sidebar">
                                <p class="title-small sidebar__title">
                                    <span>Категории</span>
                                </p>
                                <a href="" class="sidebar__link">
                                    Карта скидок “Балтламинат”
                                </a>
                                <a href="" class="sidebar__link">
                                    Изготовление дверей для шкафов-купе
                                </a>
                                <a href="" class="sidebar__link">
                                    Оклейка
                                </a>
                                <a href="" class="sidebar__link">
                                    Распил
                                </a>
                                <a href="" class="sidebar__link">
                                    Доставка
                                </a>
                                <a href="" class="sidebar__link sidebar__link--active">
                                    Уд@ленный заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Товары под заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Нарезка и обработка стекла / зеркала
                                </a>
                                <a href="" class="sidebar__link">
                                    Фрезеровка
                                </a>
                                <a href="" class="sidebar__link">
                                    Заточка инструмента
                                </a>
                                <a href="" class="sidebar__link">
                                    Сверление
                                </a>
                            </aside>
                        </div>
                        <div class="catalog__main">
                            <section class="service">
                                <div class="service__grid">
                                    <div class="service__column service__column--editable service__column--4">
                                        <div class="grid__block mobile-order mobile-order--6">
                                            @@include("../blocks/modules/product/product-image.html")
                                        </div>
                                        <div class="grid__block mobile-order mobile-order--7">
                                            <div class="service-text">
                                                <div class="service-text__content text">
                                                    <p>
                                                        <b>
                                                            Скачивая форму удаленного заказа и оставляя свои данные Исполнителю путем заполнения полей формы заказа Пользователь:
                                                        </b>
                                                    </p>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                подтверждает, что все указанные им данные принадлежат лично ему;
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span>
                                                                выражает согласие на получение, обработку, хранение и уничтожение Исполнителем персональных данных Пользователя.
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service__column service__column--editable service__column--6">
                                        <div class="grid__block mobile-order mobile-order--10">
                                            <div class="service-text">
                                                <h1 class="service-text__title">
                                                    Уд@ленный заказ
                                                </h1>
                                                <div class="service-text__content text">
                                                    <p>
                                                        Мы непрерывно работаем над улучшением сервиса для Вас!
                                                    </p>
                                                    <p>
                                                        Мы добиваемся того, чтобы оказываемые услуги (обработка материала) были качественными и максимально удобными.
                                                    </p>
                                                    <p>
                                                        Для клиентов, которые ценят свое время, мы предлагаем новую возможность работы с нами - УД@ЛЕННЫЙ ЗАКАЗ! <br>
                                                        Теперь заказать необходимую услугу или товар можно не выходя из дома или находясь в своей мастерской! <br>
                                                        УД@ЛЕННЫЙ ЗАКАЗ —удобный сервис! Главным преимуществом такого сервиса является существенная экономия времени ввиду отсутствия необходимости стоять в очереди для оформления документов.
                                                    </p>
                                                    <p>
                                                        Как оформить УД@ЛЕННЫЙ ЗАКАЗ?
                                                    </p>
                                                    <p>
                                                        Все очень просто! 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid__block mobile-order mobile-order--9">
                                            <div class="product-files">
                                                <p class="title-small title-small--product product-files__title">
                                                    <span>
                                                        Для того чтобы сделать заказ, Вам необходимо скачать специальную форму:
                                                    </span>
                                                </p>
                                                <a href="" class="link-file">
                                                    <svg class="icon-svg link-file__icon">
                                                        <use xlink:href="img/sprites/sprite.svg#icon-ods"></use>
                                                    </svg>
                                                    <p class="link-file__title">
                                                        Удаленный заказ-lite (для LibreOffice).ods <strong>Скачать</strong>
                                                    </p>
                                                </a>
                                                <a href="" class="link-file">
                                                    <svg class="icon-svg link-file__icon">
                                                        <use xlink:href="img/sprites/sprite.svg#icon-xls"></use>
                                                    </svg>
                                                    <p class="link-file__title">
                                                        Удаленный заказ-lite (для Excel).xls <strong>Скачать</strong>
                                                    </p>
                                                </a>
                                                <a href="" class="link-file">
                                                    <svg class="icon-svg link-file__icon">
                                                        <use xlink:href="img/sprites/sprite.svg#icon-xlsx"></use>
                                                    </svg>
                                                    <p class="link-file__title">
                                                        Накладная на передачу материала заказчика.xlsx <strong>Скачать</strong>
                                                    </p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="grid__block mobile-order mobile-order--8">
                                            <div class="service-text">
                                                <div class="service-text__content text">
                                                    <p>
                                                        (если у вас отсутствует офисный пакет приложений на компьютере Вы можете скачать бесплатный офисный пакет LibreOffice <a href="https://ru.libreoffice.org/home/">https://ru.libreoffice.org/home/</a> либо приобрести офисный пакет компании Microsoft)
                                                    </p>
                                                    <p>
                                                        В полученной форме, следуя подсказкам, Вы можете с легкостью вносить необходимые параметры услуги, будь то распил или оклейка разными видами кромочной ленты, специальный крой, радиусы - всё это можно сделать всего за несколько минут.
                                                    </p>
                                                    <p>
                                                        Заполненную форму, для обработки, отправьте нашим специалистам на электронную почту — <a href="mailto:mp@baltlaminat.ru">mp@baltlaminat.ru</a>
                                                    </p>
                                                    <p>
                                                        <b>
                                                            Для того чтобы сделать заказ на покупку материала, Вам необходимо отправить заявку в свободной форме на электронную почту: <a href="mailto:online@baltlaminat.ru">online@baltlaminat.ru</a>, с указанием артикула товара (или точного наименования), количества, так же предоставить контактный номере телефона для последующей связи.
                                                        </b>
                                                    </p>
                                                    <p>
                                                        Мы изучим поступившую заявку и свяжемся с Вами в течении нескольких часов, уточним детали и озвучим стоимость и сроки изготовления Вашего заказа.
                                                    </p>
                                                    <p>
                                                        После согласования заказа, Вам будет отправлен бланк с номером заказа и ссылка для оплаты. Ссылка может быть отправлена по электронной почте или через смс.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
