<!DOCTYPE html>
<html lang="ru">
<head>
    <title>17. Новости</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <h2 class="title single__title">
                            Новости
                        </h2>
                        <div class="articles single__articles">
                            <a href="" class="article">
                                <div class="article__column article__column--date">
                                    <div class="date">
                                        <p class="date__date">
                                            1
                                        </p>
                                        <div class="date__content">
                                            <p class="date__mounth">
                                                сентября
                                            </p>
                                            <p class="date__year">
                                                2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article__column article__column--text">
                                    <h3 class="article__title">
                                        Система профилей мебели без ручек
                                    </h3>
                                    <p class="article__text">
                                        Aliquip anim qui sunt quis officia est velit duis nostrud qui. Enim dolor anim fugiat irure deserunt fugiat eiusmod incididunt esse. Eiusmod Lorem eiusmod sunt incididunt veniam pariatur aute exercitation.
                                    </p>
                                </div>
                            </a>
                            <a href="" class="article">
                                <div class="article__column article__column--date">
                                    <div class="date">
                                        <p class="date__date">
                                            27
                                        </p>
                                        <div class="date__content">
                                            <p class="date__mounth">
                                                августа
                                            </p>
                                            <p class="date__year">
                                                2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article__column article__column--text">
                                    <h3 class="article__title">
                                        Система профилей мебели без ручек
                                    </h3>
                                    <p class="article__text">
                                        Aliquip anim qui sunt quis officia est velit duis nostrud qui. Enim dolor anim fugiat irure deserunt fugiat eiusmod incididunt esse. Eiusmod Lorem eiusmod sunt incididunt veniam pariatur aute exercitation.
                                    </p>
                                </div>
                            </a>
                            <a href="" class="article">
                                <div class="article__column article__column--date">
                                    <div class="date">
                                        <p class="date__date">
                                            10
                                        </p>
                                        <div class="date__content">
                                            <p class="date__mounth">
                                                августа
                                            </p>
                                            <p class="date__year">
                                                2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article__column article__column--text">
                                    <h3 class="article__title">
                                        Система профилей мебели без ручек
                                    </h3>
                                    <p class="article__text">
                                        Aliquip anim qui sunt quis officia est velit duis nostrud qui. Enim dolor anim fugiat irure deserunt fugiat eiusmod incididunt esse. Eiusmod Lorem eiusmod sunt incididunt veniam pariatur aute exercitation.
                                    </p>
                                </div>
                            </a>
                            <a href="" class="article">
                                <div class="article__column article__column--date">
                                    <div class="date">
                                        <p class="date__date">
                                            2
                                        </p>
                                        <div class="date__content">
                                            <p class="date__mounth">
                                                августа
                                            </p>
                                            <p class="date__year">
                                                2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article__column article__column--text">
                                    <h3 class="article__title">
                                        Система профилей мебели без ручек
                                    </h3>
                                    <p class="article__text">
                                        Aliquip anim qui sunt quis officia est velit duis nostrud qui. Enim dolor anim fugiat irure deserunt fugiat eiusmod incididunt esse. Eiusmod Lorem eiusmod sunt incididunt veniam pariatur aute exercitation.
                                    </p>
                                </div>
                            </a>
                            <a href="" class="article">
                                <div class="article__column article__column--date">
                                    <div class="date">
                                        <p class="date__date">
                                            1
                                        </p>
                                        <div class="date__content">
                                            <p class="date__mounth">
                                                сентября
                                            </p>
                                            <p class="date__year">
                                                2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article__column article__column--text">
                                    <h3 class="article__title">
                                        Система профилей мебели без ручек
                                    </h3>
                                    <p class="article__text">
                                        Aliquip anim qui sunt quis officia est velit duis nostrud qui. Enim dolor anim fugiat irure deserunt fugiat eiusmod incididunt esse. Eiusmod Lorem eiusmod sunt incididunt veniam pariatur aute exercitation.
                                    </p>
                                </div>
                            </a>
                            <a href="" class="article">
                                <div class="article__column article__column--date">
                                    <div class="date">
                                        <p class="date__date">
                                            27
                                        </p>
                                        <div class="date__content">
                                            <p class="date__mounth">
                                                августа
                                            </p>
                                            <p class="date__year">
                                                2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article__column article__column--text">
                                    <h3 class="article__title">
                                        Система профилей мебели без ручек
                                    </h3>
                                    <p class="article__text">
                                        Aliquip anim qui sunt quis officia est velit duis nostrud qui. Enim dolor anim fugiat irure deserunt fugiat eiusmod incididunt esse. Eiusmod Lorem eiusmod sunt incididunt veniam pariatur aute exercitation.
                                    </p>
                                </div>
                            </a>
                            <a href="" class="article">
                                <div class="article__column article__column--date">
                                    <div class="date">
                                        <p class="date__date">
                                            10
                                        </p>
                                        <div class="date__content">
                                            <p class="date__mounth">
                                                августа
                                            </p>
                                            <p class="date__year">
                                                2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article__column article__column--text">
                                    <h3 class="article__title">
                                        Система профилей мебели без ручек
                                    </h3>
                                    <p class="article__text">
                                        Aliquip anim qui sunt quis officia est velit duis nostrud qui. Enim dolor anim fugiat irure deserunt fugiat eiusmod incididunt esse. Eiusmod Lorem eiusmod sunt incididunt veniam pariatur aute exercitation.
                                    </p>
                                </div>
                            </a>
                            <a href="" class="article">
                                <div class="article__column article__column--date">
                                    <div class="date">
                                        <p class="date__date">
                                            2
                                        </p>
                                        <div class="date__content">
                                            <p class="date__mounth">
                                                августа
                                            </p>
                                            <p class="date__year">
                                                2020
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article__column article__column--text">
                                    <h3 class="article__title">
                                        Система профилей мебели без ручек
                                    </h3>
                                    <p class="article__text">
                                        Aliquip anim qui sunt quis officia est velit duis nostrud qui. Enim dolor anim fugiat irure deserunt fugiat eiusmod incididunt esse. Eiusmod Lorem eiusmod sunt incididunt veniam pariatur aute exercitation.
                                    </p>
                                </div>
                            </a>
                        </div>
                        @@include("../blocks/modules/pagination/pagination.html")
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
