<!DOCTYPE html>
<html lang="ru">
<head>
    <title>18. Одна статья</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <div class="single__columns">
                            <div class="single__column single__column--8">
                                <div class="date single__date">
                                    <p class="date__date">
                                        1
                                    </p>
                                    <div class="date__content">
                                        <p class="date__mounth">
                                            сентября
                                        </p>
                                        <p class="date__year">
                                            2020
                                        </p>
                                    </div>
                                </div>
                                <h2 class="title-black single__title-black">
                                    Замена текстуры пленки в плите BYSPAN Графит 665
                                </h2>
                                <div class="text single__text">
                                    <p>
                                        Уважаемые клиенты, компания Балтламинат совместно с компанией FRANKE запускает акцию на бытовую технику!
                                    </p>
                                    <p>
                                        КУПИТЕ КОМПЛЕКТ ТЕХНИКИ FRANKE И ПОЛУЧИТЕ СКИДКУ! <br>
                                        15% - при покупке 2 позиций (пример: варочная поверхность + духовка или варочная поверхность + вытяжка) <br>
                                        20% - при покупки 3 позиций (пример: варочная поверхность + духовка + вытяжка) <br>
                                        25% - при покупки 4 позиций (пример: варочная поверхность + духовка + вытяжка + холодильник)
                                    </p>
                                    <ul>
                                        <li>
                                            <span>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Lorem ipsum
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et soluta esse impedit fuga, voluptas consequuntur voluptates veniam, neque optio itaque dicta sed voluptatum repudiandae commodi error eaque cum a nihil?
                                            </span>
                                        </li>
                                    </ul>
                                    <p>
                                        Условия акции: <br>
                                        - при покупке позиций техники из разных категорий товаров в одном чеке <br>
                                        - скидка не распространяется на акционный товар, товар по финальным ценам и дисконт. 
                                    </p>
                                    <p>
                                        Возможно оформит товар под ЗАКАЗ, с более полным ассортиментом Вы можете ознакомится на сайте FRANKE  
                                        Make It Wonderful - создавайте удивительное ......
                                    </p>
                                    <img src="http://placehold.it/1600x900" alt="Картинка">
                                </div>
                            </div>
                        </div>
                        <div class="single__back">
                            <a href="" class="arrow arrow--prev">
                                <p class="arrow__title">
                                    Назад
                                </p>
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/sprite.svg#icon-back"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
