<!DOCTYPE html>
<html lang="ru">
<head>
    <title>2. Новинки</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <div class="single__columns">
                            <div class="single__column single__column--8">
                                <h2 class="title-black single__title-black">
                                    Ламинат Villeroy & Boch коллекция 2020-2021
                                </h2>
                                <div class="text single__text">
                                    <img src="img/single-1.jpg" alt="Картинки">
                                    <p>
                                        Уважаемые покупатели!
                                    </p>
                                    <p>
                                        Мы рады вам сообщить о старте продаж новой коллекции ламинированных напольный покрытий Villeroy & Boch.
                                        Эта коллекция имеет отличную репутацию во всем мире. Благодаря высокому качеству и соблюдению строгих критериев экологичности, клиенты из многих стран выбирают долговечный и безопасный ламинат от Villeroy & Boch, но и это еще не все, ламинированные полы были оптимизированы таким образом, что их степень защиты  от воздействия влаги стала еще современнее. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="simple__goods">
                            <h2 class="title-black single__title-black">
                                Товары
                            </h2>
                            <div class="articles single__offers">
                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <div class="card__tags"></div>
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price card__grid-text--green">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn card__btn--green">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                        <div class="card__tags">
                                            <span class="card__tag card__tag--blue">
                                                Новинка
                                            </span>
                                        </div>
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price card__grid-text--blue">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn card__btn--blue">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                        <div class="card__tags">
                                            <span class="card__tag card__tag--orange">
                                                Акция
                                            </span>
                                        </div>
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price card__grid-text--orange">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn card__btn--orange">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                        <div class="card__tags">
                                            <span class="card__tag card__tag--red">
                                                Распродажа
                                            </span>
                                        </div>
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price card__grid-text--red">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn card__btn--red">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <!-- <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div> -->
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                        <div class="card__tags">
                                            <span class="card__tag card__tag--orange">
                                                Акция
                                            </span>
                                        </div>
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price card__grid-text--orange">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn card__btn--orange">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                        <div class="card__tags">
                                            <span class="card__tag card__tag--red">
                                                Распродажа
                                            </span>
                                        </div>
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price card__grid-text--red">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    п.м.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn card__btn--red">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <!-- <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div> -->
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                        <div class="card__tags">
                                            <span class="card__tag card__tag--orange">
                                                Акция
                                            </span>
                                        </div>
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price card__grid-text--orange">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn card__btn--orange">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <article href="" class="card">
                                    <a href class="card__thumb resized">
                                        <img src="http://placehold.it/900x900" alt="Название товара">
                                        <div class="card__tags">
                                            <span class="card__tag card__tag--red">
                                                Распродажа
                                            </span>
                                        </div>
                                    </a>
                                    <a href="" class="card__title">
                                        140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                    </a>
                                    <div class="card__content">
                                        <div class="card__grid">
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        артикул
                                                    </p>
                                                    <p class="card__grid-text">
                                                        45645
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        наличие
                                                    </p>
                                                    <p class="card__grid-text">
                                                        В НАЛИЧИИ
                                                    </p>
                                                </div>
                                            </div>
                                            
                                            <div class="card__grid-column">
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        розничная цена
                                                    </p>
                                                    <p class="card__grid-text">
                                                        5 550 РУБ.
                                                    </p>
                                                </div>
                                                <div class="card__grid-item">
                                                    <p class="card__grid-head">
                                                        цена со скидкой
                                                    </p>
                                                    <p class="card__grid-text card__grid-text--price card__grid-text--red">
                                                        <strong>5 190</strong> РУБ.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card__toolbar">
                                        <div class="counter card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    п.м.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <button class="card__btn card__btn--red">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-add-card"></use>
                                        </svg>
                                        <span>
                                            В корзину
                                        </span>
                                    </button>
                                </article>

                                <div class="card card--clear"></div>
                                <div class="card card--clear"></div>
                                <div class="card card--clear"></div>
                                <div class="card card--clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
