<!DOCTYPE html>
<html lang="ru">
<head>
    <title>20. Вакансии</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <h2 class="title single__title">
                            Вакансии
                        </h2>

                        <!-- Далее все заполняется через тексовый редактор -->
                        <div class="single__discript text">
                            <h5>
                                Персона для контактов:
                            </h5>
                            <p>
                                Татьяна Борисовна <br>
                                Тел: <a href="tel:313045">313-045</a>, <a href="tel:+79114603538">+79114603538</a> <br>
                                <a href="mailto:pd@baltlaminat.ru">pd@baltlaminat.ru</a>
                            </p>
                        </div>
                        <!--  -->

                        <div class="articles single__articles">
                            <a href="" class="vacancy">
                                <div class="vacancy__content text">
                                    <h5>
                                        Грузчик
                                    </h5>
                                    <p>
                                        График работы: 2/2, официальное трудоустройство.
                                    </p>
                                    <h5>
                                        Требования:
                                    </h5>
                                    <p>
                                        - желателен опыт работы по сборке и выдаче товара по накладным.
                                    </p>
                                    <h5>
                                        Обязанности:
                                    </h5>
                                    <p>
                                        - погрузочно-разгрузочные работы на складе плитных материалов;<br>
                                        - выдача товара покупателям;<br>
                                        - участие в инвентаризациях ТМЦ.
                                    </p>
                                    <h5>
                                        Условия:
                                    </h5>
                                    <p>
                                        График работы 2/2 с 9.00 до 20.00.
                                    </p>
                                </div>
                            </a>

                            <a href="" class="vacancy">
                                <div class="vacancy__content text">
                                    <h5>
                                        Грузчик
                                    </h5>
                                    <p>
                                        График работы: 2/2, официальное трудоустройство.
                                    </p>
                                    <h5>
                                        Требования:
                                    </h5>
                                    <p>
                                        - желателен опыт работы по сборке и выдаче товара по накладным.
                                    </p>
                                    <h5>
                                        Обязанности:
                                    </h5>
                                    <p>
                                        - погрузочно-разгрузочные работы на складе плитных материалов;<br>
                                        - выдача товара покупателям;<br>
                                        - участие в инвентаризациях ТМЦ.
                                    </p>
                                    <h5>
                                        Условия:
                                    </h5>
                                    <p>
                                        График работы 2/2 с 9.00 до 20.00.
                                    </p>
                                </div>
                            </a>

                            <a href="" class="vacancy">
                                <div class="vacancy__content text">
                                    <h5>
                                        Грузчик
                                    </h5>
                                    <p>
                                        График работы: 2/2, официальное трудоустройство.
                                    </p>
                                    <h5>
                                        Требования:
                                    </h5>
                                    <p>
                                        - желателен опыт работы по сборке и выдаче товара по накладным.
                                    </p>
                                    <h5>
                                        Обязанности:
                                    </h5>
                                    <p>
                                        - погрузочно-разгрузочные работы на складе плитных материалов;<br>
                                        - выдача товара покупателям;<br>
                                        - участие в инвентаризациях ТМЦ.
                                    </p>
                                    <h5>
                                        Условия:
                                    </h5>
                                    <p>
                                        График работы 2/2 с 9.00 до 20.00.
                                    </p>
                                </div>
                            </a>

                            <a href="" class="vacancy">
                                <div class="vacancy__content text">
                                    <h5>
                                        Грузчик
                                    </h5>
                                    <p>
                                        График работы: 2/2, официальное трудоустройство.
                                    </p>
                                    <h5>
                                        Требования:
                                    </h5>
                                    <p>
                                        - желателен опыт работы по сборке и выдаче товара по накладным.
                                    </p>
                                    <h5>
                                        Обязанности:
                                    </h5>
                                    <p>
                                        - погрузочно-разгрузочные работы на складе плитных материалов;<br>
                                        - выдача товара покупателям;<br>
                                        - участие в инвентаризациях ТМЦ.
                                    </p>
                                    <h5>
                                        Условия:
                                    </h5>
                                    <p>
                                        График работы 2/2 с 9.00 до 20.00.
                                    </p>
                                </div>
                            </a>

                            <a href="" class="vacancy">
                                <div class="vacancy__content text">
                                    <h5>
                                        Грузчик
                                    </h5>
                                    <p>
                                        График работы: 2/2, официальное трудоустройство.
                                    </p>
                                    <h5>
                                        Требования:
                                    </h5>
                                    <p>
                                        - желателен опыт работы по сборке и выдаче товара по накладным.
                                    </p>
                                    <h5>
                                        Обязанности:
                                    </h5>
                                    <p>
                                        - погрузочно-разгрузочные работы на складе плитных материалов;<br>
                                        - выдача товара покупателям;<br>
                                        - участие в инвентаризациях ТМЦ.
                                    </p>
                                    <h5>
                                        Условия:
                                    </h5>
                                    <p>
                                        График работы 2/2 с 9.00 до 20.00.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
