<!DOCTYPE html>
<html lang="ru">
<head>
    <title>21. Фасады</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="catalog">
                <div class="container">
                    <div class="catalog__content">
                        <div class="catalog__side">
                            <aside class="sidebar">
                                <p class="title-small sidebar__title">
                                    <span>Категории</span>
                                </p>
                                <a href="" class="sidebar__link">
                                    Плитные материалы
                                </a>
                                <a href="" class="sidebar__link">
                                    Мебельная фурнитрура
                                </a>
                                <a href="" class="sidebar__link">
                                    Инструменты, расходные материалы
                                </a>
                                <a href="" class="sidebar__link">
                                    Кухонная техника
                                </a>
                                <a href="" class="sidebar__link">
                                    Напольные покрытия
                                </a>
                                <a href="" class="sidebar__link">
                                    Кромка
                                </a>
                                <a href="" class="sidebar__link">
                                    Мебель
                                </a>
                                <a href="" class="sidebar__link">
                                    Услуги
                                </a>
                                <a href="" class="sidebar__link sidebar__link--active">
                                    Фасады
                                </a>
                                <a href="" class="sidebar__link">
                                    Химия, упаковка, реставрация
                                </a>
                            </aside>
                        </div>
                        <div class="catalog__main">
                            <div class="articles">
                                <a href="" class="partner">
                                    <img src="img/partner-1.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-2.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-3.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-4.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-5.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-4.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-3.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-1.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-5.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-2.png" alt="" class="front-partner__img">
                                </a>
                                <a href="" class="partner">
                                    <img src="img/partner-2.png" alt="" class="front-partner__img">
                                </a>
                                <div class="partner partner--clear"></div>
                                <div class="partner partner--clear"></div>
                                <div class="partner partner--clear"></div>
                                <div class="partner partner--clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
