<!DOCTYPE html>
<html lang="ru">
<head>
    <title>22. Одна вакансия</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <h2 class="title single__title">
                            Грузчик
                        </h2>
                        <div class="single__columns">
                            <div class="single__column single__column--8">
                                <div class="text single__text">
                                    <h5>
                                        Требования:
                                    </h5>
                                    <p>
                                        - желателен опыт работы по сборке и выдаче товара по накладным.
                                    </p>
                                    <h5>
                                        Обязанности:
                                    </h5>
                                    <p>
                                        - погрузочно-разгрузочные работы на складе плитных материалов; <br>
                                        - выдача товара покупателям; <br>
                                        - участие в инвентаризациях ТМЦ.
                                    </p>

                                    <h5>
                                        Условия:
                                    </h5>
                                    <p>
                                        График работы 2/2 с 9.00 до 20.00.
                                    </p>

                                    <h5>
                                        Персона для контактов:
                                    </h5>
                                    <p>
                                        Татьяна Борисовна <br>
                                        Тел: 313-045, +79114603538 <br>
                                        <a href="mailto:pd@baltlaminat.ru">pd@baltlaminat.ru</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="single__back">
                            <a href="" class="arrow arrow--prev">
                                <p class="arrow__title">
                                    Назад
                                </p>
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/sprite.svg#icon-back"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
