<!DOCTYPE html>
<html lang="ru">
<head>
    <title>27. Загрузки</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <div class="table single__table">
                            <div class="table__line table__line--head">
                                <div class="table__cell table__cell--10">
                                    Фирма
                                </div>
                                <div class="table__cell table__cell--80">
                                    Название файла
                                </div>
                                <div class="table__cell table__cell--10">
                                    
                                </div>
                            </div>

                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                            <a href="" class="table__line">
                                <div class="table__cell table__cell--10">
                                    AGT
                                </div>
                                <div class="table__cell table__cell--80">
                                    140.120.61 Фреза концевая DIA D12/NL27/L70/S12140.120.61 Фреза концевая DIA
                                </div>
                                <div class="table__cell table__cell--10">
                                    Скачать <span class="table__light">533.6 Кб</span>
                                </div>
                            </a>
                        </div>
                        @@include("../blocks/modules/pagination/pagination.html")
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
