<!DOCTYPE html>
<html lang="ru">
<head>
    <title>31. Данные пользователя</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <div class="single__columns">
                            <div class="single__column single__column--2">
                                @@include("../blocks/modules/lk-menu/lk-menu.html")
                                <aside class="sidebar lk-side">
                                    <p class="title-small sidebar__title">
                                        <span>Личный кабинет</span>
                                    </p>
                                    <a href="" class="sidebar__link">
                                        Корзина <strong>(3)</strong>
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Заказы
                                    </a>
                                    <a href="" class="sidebar__link sidebar__link--active">
                                        Данные пользователя
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Организации
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Избранные товары
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Сообщения
                                    </a>
                                </aside>
                            </div>
                            <div class="single__column single__column--10">
                                <h2 class="title single__title">
                                    Оформление заказа
                                </h2>
                                <div class="subgrid">
                                    <div class="subgrid__column subgrid__column--6">
                                        <form action="" class="lk-form">
                                            <div class="lk-form__section">
                                                <p class="lk-info-line">
                                                    <span class="lk-info-line__head">
                                                        Имя
                                                    </span>
                                                    Юрий
                                                </p>
                                                <p class="lk-info-line">
                                                    <span class="lk-info-line__head">
                                                        Фамилия
                                                    </span>
                                                    Стаканов
                                                </p>
                                                <p class="lk-info-line">
                                                    <span class="lk-info-line__head">
                                                        Телефон
                                                    </span>
                                                    +7 (981) 48-65-78
                                                </p>
                                                <p class="lk-info-line">
                                                    <span class="lk-info-line__head">
                                                        E-mail
                                                    </span>
                                                    youstakan
                                                </p>
                                            </div>
                                            <div class="lk-form__section">
                                                <p class="title-small lk-form__title">
                                                    <span>Название компании</span>
                                                </p>
                                                <div class="lk-field">
                                                    <p class="lk-field__title">
                                                        Если вы представляете какую-либо организации, впишите сюда её название:
                                                    </p>
                                                    <div class="lk-field__wrapper">
                                                        <input type="text" class="lk-input lk-field__input" placeholder="ООО “Мебель на заказ”">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lk-form__section">
                                                <p class="title-small lk-form__title">
                                                    <span>Адрес доставки</span>
                                                </p>
                                                <div class="lk-form__grid">
                                                    <div class="lk-field">
                                                        <p class="lk-field__title">
                                                            Город, поселок
                                                        </p>
                                                        <div class="lk-field__wrapper">
                                                            <input type="text" class="lk-input lk-field__input" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="lk-field lk-field--50">
                                                        <p class="lk-field__title">
                                                            Индекс
                                                        </p>
                                                        <div class="lk-field__wrapper">
                                                            <input type="text" class="lk-input lk-field__input" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="lk-field lk-field--50">
                                                        <p class="lk-field__title">
                                                            Улица
                                                        </p>
                                                        <div class="lk-field__wrapper">
                                                            <input type="text" class="lk-input lk-field__input" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="lk-field lk-field--50">
                                                        <p class="lk-field__title">
                                                            Дом
                                                        </p>
                                                        <div class="lk-field__wrapper">
                                                            <input type="text" class="lk-input lk-field__input" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="lk-field lk-field--50">
                                                        <p class="lk-field__title">
                                                            Квартира
                                                        </p>
                                                        <div class="lk-field__wrapper">
                                                            <input type="text" class="lk-input lk-field__input" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="" class="btn btn--dark lk-form__btn">
                                                Сохранить
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
