<!DOCTYPE html>
<html lang="ru">
<head>
    <title>32. Организации</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <div class="single__columns">
                            <div class="single__column single__column--2">
                                @@include("../blocks/modules/lk-menu/lk-menu.html")
                                <aside class="sidebar lk-side">
                                    <p class="title-small sidebar__title">
                                        <span>Личный кабинет</span>
                                    </p>
                                    <a href="" class="sidebar__link">
                                        Корзина <strong>(3)</strong>
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Заказы
                                    </a>
                                    <a href="" class="sidebar__link sidebar__link--active">
                                        Данные пользователя
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Организации
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Избранные товары
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Сообщения
                                    </a>
                                </aside>
                            </div>
                            <div class="single__column single__column--10">
                                <h2 class="title single__title">
                                    Организации
                                </h2>
                                <div class="lk-company">
                                    <p class="lk-company__header">
                                        ИП Мебель на заказ
                                    </p>
                                    <div class="lk-company__grid">
                                        <div class="lk-company__column">
                                            <p class="title-small title-small--product lk-company__title">
                                                <span>Данные об организации</span>
                                            </p>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    ИНН:
                                                </p>
                                                <p class="lk-company__text">
                                                    4569728258
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    КПП: 
                                                </p>
                                                <p class="lk-company__text">
                                                    556987155
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    ОКПО: 
                                                </p>
                                                <p class="lk-company__text">
                                                    5569871500564565
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Юридический адрес организации: 
                                                </p>
                                                <p class="lk-company__text">
                                                    236000, Калининград, ул. Пушкина, д. 10
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Телефон:
                                                </p>
                                                <p class="lk-company__text">
                                                    8 (000) 00-00-0
                                                </p>
                                            </div>
                                        </div>
                                        <div class="lk-company__column">
                                            <p class="title-small title-small--product lk-company__title">
                                                <span>Данные о банке</span>
                                            </p>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Расчётный счёт:
                                                </p>
                                                <p class="lk-company__text">
                                                    40702810838120108695
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Название банка:
                                                </p>
                                                <p class="lk-company__text">
                                                    ПАО "Сбербанк" г. Москва
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Кор./Счёт:
                                                </p>
                                                <p class="lk-company__text">
                                                    30101810400000000225
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    БИК:
                                                </p>
                                                <p class="lk-company__text">
                                                    44525225
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lk-company">
                                    <p class="lk-company__header">
                                        ИП Мебель на заказ
                                    </p>
                                    <div class="lk-company__grid">
                                        <div class="lk-company__column">
                                            <p class="title-small title-small--product lk-company__title">
                                                <span>Данные об организации</span>
                                            </p>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    ИНН:
                                                </p>
                                                <p class="lk-company__text">
                                                    4569728258
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    КПП: 
                                                </p>
                                                <p class="lk-company__text">
                                                    556987155
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    ОКПО: 
                                                </p>
                                                <p class="lk-company__text">
                                                    5569871500564565
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Юридический адрес организации: 
                                                </p>
                                                <p class="lk-company__text">
                                                    236000, Калининград, ул. Пушкина, д. 10
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Телефон:
                                                </p>
                                                <p class="lk-company__text">
                                                    8 (000) 00-00-0
                                                </p>
                                            </div>
                                        </div>
                                        <div class="lk-company__column">
                                            <p class="title-small title-small--product lk-company__title">
                                                <span>Данные о банке</span>
                                            </p>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Расчётный счёт:
                                                </p>
                                                <p class="lk-company__text">
                                                    40702810838120108695
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Название банка:
                                                </p>
                                                <p class="lk-company__text">
                                                    ПАО "Сбербанк" г. Москва
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    Кор./Счёт:
                                                </p>
                                                <p class="lk-company__text">
                                                    30101810400000000225
                                                </p>
                                            </div>
                                            <div class="lk-company__info-block">
                                                <p class="lk-company__name">
                                                    БИК:
                                                </p>
                                                <p class="lk-company__text">
                                                    44525225
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="" class="btn btn--dark lk-form__btn">
                                    Добавить новую организацию
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
