<!DOCTYPE html>
<html lang="ru">
<head>
    <title>38. О нас</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <div class="single__columns">
                            <div class="single__column single__column--2">
                                <aside class="sidebar">
                                    <p class="title-small sidebar__title">
                                        <span>Личный кабинет</span>
                                    </p>
                                    <a href="" class="sidebar__link">
                                        Корзина <strong>(3)</strong>
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Заказы
                                    </a>
                                    <a href="" class="sidebar__link sidebar__link--active">
                                        Данные пользователя
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Организации
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Избранные товары
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Сообщения
                                    </a>
                                </aside>
                            </div>
                            <div class="single__column single__column--10">
                                <h2 class="title single__title">
                                    Бонусная программа
                                </h2>
                                <div class="text single__text">
                                    <h5>
                                        С 01.06.2017 г. введены новые правила работы бонусной программы.
                                    </h5>
                                    <ul>
                                        <li>
                                            <span>
                                                Карта открывается при покупке от 2000 рублей.
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                После каждой покупки на карту начисляются бонусы: 50 баллов за каждые 1000 рублей в чеке Бонусами можно оплатить до 30% стоимости товара по курсу 1 бонус = 1 рубль.
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                               Бонусная карта может использоваться в розничных салонах INGLOT и интернет-магазине shop.inglot.com.ru
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
