<!DOCTYPE html>
<html lang="ru">
<head>
	<title>39. Заказы</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body">
	<div class="layout">
		@@include("../blocks/modules/header/header.html")
		<main class="layout__main">
			@@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
			<section class="single">
				<div class="container">
					<div class="single__content">
						<div class="single__columns">
							<div class="single__column single__column--2">
								@@include("../blocks/modules/lk-menu/lk-menu.html")
                                <aside class="sidebar lk-side">
									<p class="title-small sidebar__title">
										<span>Личный кабинет</span>
									</p>
									<a href="" class="sidebar__link">
										Корзина <strong>(3)</strong>
									</a>
									<a href="" class="sidebar__link sidebar__link--active">
										Заказы
									</a>
									<a href="" class="sidebar__link">
										Данные пользователя
									</a>
									<a href="" class="sidebar__link">
										Организации
									</a>
									<a href="" class="sidebar__link">
										Избранные товары
									</a>
									<a href="" class="sidebar__link">
										Сообщения
									</a>
								</aside>
							</div>
							<div class="single__column single__column--10">
								<h2 class="title single__title">
									Заказы
								</h2>
								<div class="lk-filter">
									<p class="lk-filter__text">
										Период
									</p>
									<input class="lk-filter__datepicker" type="text" data-position="right top" style="background-image: url('img/calendar.svg')">
									<select class="lk-dropdown">
										<option value="1">Все заказы</option>
										<option value="1">1023-219</option>
										<option value="2">1023-220</option>
										<option value="3">1023-221</option>
									</select>
									<button class="lk-filter__btn btn btn--green">
										Показать
									</button>
								</div>
								<div class="lk-orders">
									<article class="lk-order">
										<div class="lk-order__line lk-order__line--head">
											<div class="lk-order__col lk-order__col--number">
												1
											</div>
											<div class="lk-order__col lk-order__col--grow lk-order__col--info">
												<p class="lk-order__head-text">
													Заказ № <a href="">1023-219</a>
												</p>
											</div>
										</div>
										<div class="lk-order__line">
											<div class="lk-order__col lk-order__col--grow lk-order__col--person">
												<p class="lk-order__text">
													<strong>Ответственный:</strong>
													Лисицина Лидия Ивановна
												</p>
											</div>
											<div class="lk-order__col lk-order__col--date">
												<p class="lk-order__text">
													<strong>Дата:</strong>
													<time>13.05.2020 10:02:25</time>
												</p>
											</div>
											<div class="lk-order__col lk-order__col--count">
												<p class="lk-order__text">
													<b>4</b> товара на сумму <b>4050</b> руб.
												</p>
											</div>
											<div class="lk-order__col lk-order__col--status">
												<!-- <p class="lk-order__status lk-order__status--red">
													Отменен
												</p>
												<p class="lk-order__status lk-order__status--yellow">
													Обработка
												</p> -->
												<p class="lk-order__status lk-order__status--green">
													Оплачен
												</p>
											</div>
										</div>
									</article>
									<article class="lk-order">
										<div class="lk-order__line lk-order__line--head">
											<div class="lk-order__col lk-order__col--number">
												1
											</div>
											<div class="lk-order__col lk-order__col--grow lk-order__col--info">
												<p class="lk-order__head-text">
													Заказ № <a href="">1023-219</a>
												</p>
											</div>
										</div>
										<div class="lk-order__line">
											<div class="lk-order__col lk-order__col--grow lk-order__col--person">
												<p class="lk-order__text">
													<strong>Ответственный:</strong>
													Лисицина Лидия Ивановна
												</p>
											</div>
											<div class="lk-order__col lk-order__col--date">
												<p class="lk-order__text">
													<strong>Дата:</strong>
													<time>13.05.2020 10:02:25</time>
												</p>
											</div>
											<div class="lk-order__col lk-order__col--count">
												<p class="lk-order__text">
													<b>4</b> товара на сумму <b>4050</b> руб.
												</p>
											</div>
											<div class="lk-order__col lk-order__col--status">
												<!-- <p class="lk-order__status lk-order__status--red">
													Отменен
												</p> -->
												<p class="lk-order__status lk-order__status--yellow">
													Обработка
												</p>
												<!-- <p class="lk-order__status lk-order__status--green">
													Оплачен
												</p> -->
											</div>
										</div>
									</article>
									<article class="lk-order">
										<div class="lk-order__line lk-order__line--head">
											<div class="lk-order__col lk-order__col--number">
												1
											</div>
											<div class="lk-order__col lk-order__col--grow lk-order__col--info">
												<p class="lk-order__head-text">
													Заказ № <a href="">1023-219</a>
												</p>
											</div>
										</div>
										<div class="lk-order__line">
											<div class="lk-order__col lk-order__col--grow lk-order__col--person">
												<p class="lk-order__text">
													<strong>Ответственный:</strong>
													Лисицина Лидия Ивановна
												</p>
											</div>
											<div class="lk-order__col lk-order__col--date">
												<p class="lk-order__text">
													<strong>Дата:</strong>
													<time>13.05.2020 10:02:25</time>
												</p>
											</div>
											<div class="lk-order__col lk-order__col--count">
												<p class="lk-order__text">
													<b>4</b> товара на сумму <b>4050</b> руб.
												</p>
											</div>
											<div class="lk-order__col lk-order__col--status">
												<p class="lk-order__status lk-order__status--red">
													Отменен
												</p>
												<!-- <p class="lk-order__status lk-order__status--yellow">
													Обработка
												</p> -->
												<!-- <p class="lk-order__status lk-order__status--green">
													Оплачен
												</p> -->
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
		@@include("../blocks/modules/temp/temp.html")
	</div>
	<div class="hidden">
		@@include("../blocks/modules/modal/modal.html")
	</div>
	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
