<!DOCTYPE html>
<html lang="ru">
<head>
    <title>41. Заказ</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="single">
                <div class="container">
                    <div class="single__content">
                        <div class="single__columns">
                            <div class="single__column single__column--2">
                                @@include("../blocks/modules/lk-menu/lk-menu.html")
                                <aside class="sidebar lk-side">
                                    <p class="title-small sidebar__title">
                                        <span>Личный кабинет</span>
                                    </p>
                                    <a href="" class="sidebar__link">
                                        Корзина <strong>(3)</strong>
                                    </a>
                                    <a href="" class="sidebar__link sidebar__link--active">
                                        Заказы
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Данные пользователя
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Организации
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Избранные товары
                                    </a>
                                    <a href="" class="sidebar__link">
                                        Сообщения
                                    </a>
                                </aside>
                            </div>
                            <div class="single__column single__column--10">
                                <h2 class="title single__title">
                                    Заказ № 1023-219
                                </h2>
                                <div class="lk-table-section">
                                    <div class="lk-table-section__table">
                                        <div class="lk-table">
                                            <div class="lk-table-toolbar lk-table-toolbar--head">
                                                <div class="lk-table-toolbar__col lk-table-toolbar__col--grow">
                                                    <p class="lk-table-toolbar__text">
                                                        13.05.2020 10:02:25, <strong>4</strong> товара на сумму <strong>4050</strong> руб.
                                                    </p>
                                                </div>
                                                <div class="lk-table-toolbar__col lk-table-toolbar__col--repair">

                                                        <!-- <p class="lk-table-toolbar__status lk-table-toolbar__status--red">
                                                        Отменен
                                                    </p> -->

                                                    <p class="lk-table-toolbar__status lk-table-toolbar__status--yellow">
                                                        Обработка
                                                    </p>

                                                        <!-- <p class="lk-table-toolbar__status lk-table-toolbar__status--green">
                                                        Оплачен
                                                    </p> -->
                                                </div>
                                            </div>
                                            <article class="lk-item">
                                                <div class="lk-item__col lk-item__col--number">
                                                    1
                                                </div>
                                                <div class="lk-item__col lk-item__col--thumb">
                                                    <div class="lk-item__thumb">
                                                        <img src="https://via.placeholder.com/106x106" alt="Название товара">
                                                    </div>
                                                </div>
                                                <div class="lk-item__col lk-item__col--content">
                                                    <p class="lk-item__text">
                                                        <a href="" target="_blank">
                                                            140.120.61 Очень длинное название несомненно очень важной и не менее несомненно очень большой и дорогой штуки, чье предназначение непонятно простому смертному
                                                        </a>
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <strong>Артикул:</strong> 45645
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <strong>Декор:</strong> 112.0271.333
                                                    </p>
                                                </div>
                                                <div class="lk-item__col lk-item__col--count">
                                                    <p class="lk-item__count">
                                                        <span>
                                                            22 шт.
                                                        </span>
                                                        <span>
                                                            х
                                                        </span>
                                                        <span>
                                                            <b>211 660</b> руб.
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="lk-item__col lk-item__col--result">
                                                    <p class="lk-item__text">
                                                        <b>25 320</b> руб.
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <s>
                                                            25 320 руб.
                                                        </s>
                                                    </p>
                                                    <p class="lk-item__text lk-item__text--accent">
                                                        скидка
                                                    </p>
                                                </div>
                                            </article>
                                            <article class="lk-item">
                                                <div class="lk-item__col lk-item__col--number">
                                                    2
                                                </div>
                                                <div class="lk-item__col lk-item__col--thumb">
                                                    <div class="lk-item__thumb">
                                                        <img src="https://via.placeholder.com/106x106" alt="Название товара">
                                                    </div>
                                                </div>
                                                <div class="lk-item__col lk-item__col--content">
                                                    <p class="lk-item__text">
                                                        <a href="" target="_blank">
                                                            140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                                        </a>
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <strong>Артикул:</strong> 45645
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <strong>Декор:</strong> 112.0271.333
                                                    </p>
                                                </div>
                                                <div class="lk-item__col lk-item__col--count">
                                                    <p class="lk-item__count">
                                                        <span>
                                                            2 шт.
                                                        </span>
                                                        <span>
                                                            х
                                                        </span>
                                                        <span>
                                                            <b>12 660</b> руб.
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="lk-item__col lk-item__col--result">
                                                    <p class="lk-item__text">
                                                        <b>25 320</b> руб.
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <s>
                                                            25 320 руб.
                                                        </s>
                                                    </p>
                                                    <p class="lk-item__text lk-item__text--accent">
                                                        скидка
                                                    </p>
                                                </div>
                                            </article>
                                            <article class="lk-item">
                                                <div class="lk-item__col lk-item__col--number">
                                                    3
                                                </div>
                                                <div class="lk-item__col lk-item__col--thumb">
                                                    <div class="lk-item__thumb">
                                                        <img src="https://via.placeholder.com/106x106" alt="Название товара">
                                                    </div>
                                                </div>
                                                <div class="lk-item__col lk-item__col--content">
                                                    <p class="lk-item__text">
                                                        <a href="" target="_blank">
                                                            140.120.61 Фреза концевая DIA D12/NL27/L70/S12
                                                        </a>
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <strong>Артикул:</strong> 45645
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <strong>Декор:</strong> 112.0271.333
                                                    </p>
                                                </div>
                                                <div class="lk-item__col lk-item__col--count">
                                                    <p class="lk-item__count">
                                                        <span>
                                                            2 шт.
                                                        </span>
                                                        <span>
                                                            х
                                                        </span>
                                                        <span>
                                                            <b>12 660</b> руб.
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="lk-item__col lk-item__col--result">
                                                    <p class="lk-item__text">
                                                        <b>25 320</b> руб.
                                                    </p>
                                                    <p class="lk-item__text">
                                                        <s>
                                                            25 320 руб.
                                                        </s>
                                                    </p>
                                                    <p class="lk-item__text lk-item__text--accent">
                                                        скидка
                                                    </p>
                                                </div>
                                            </article>
                                            <div class="lk-table-toolbar lk-table-toolbar--footer">
                                                <div class="lk-table-toolbar__col lk-table-toolbar__col--footer-grow">
                                                    <p class="lk-table-toolbar__text">
                                                        Итого
                                                    </p>
                                                </div>
                                                <div class="lk-table-toolbar__col lk-table-toolbar__col--result">
                                                    <p class="lk-table-toolbar__text">
                                                        <strong>16 550</strong> РУБ.
                                                    </p>
                                                    <p class="lk-table-toolbar__text lk-table-toolbar__text--accent">
                                                        скидка -1260 руб.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lk-table-section__toolbar">
                                        <a href="" class="btn btn--green lk-form__btn">
                                            Повторить заказ
                                        </a>
                                        <a href="" class="btn btn--gray lk-form__btn">
                                            Отменить заказ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
