<!DOCTYPE html>
<html lang="ru">
<head>
    <title>51. Поиск</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="catalog">
                <div class="container">
                    <div class="catalog__content">
                        <aside class="catalog__side">
                            <section class="filter" id="filter-search">
                                <div class="filter__title">
                                    <p class="title-small title-small--product">
                                        <span>
                                            Результ по категориям
                                        </span>
                                    </p>
                                </div>
                                <div class="filter__section">
                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>

                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>

                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>

                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>

                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>

                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>

                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>

                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>

                                    <label class="filter-checkbox">
                                        <input type="checkbox" class="filter-checkbox__input">
                                        <div class="filter-checkbox__icon">
                                            <div class="filter-checkbox__bit-icon">

                                            </div>
                                        </div>
                                        <span class="filter-checkbox__title">
                                            ARVANT
                                        </span>
                                    </label>
                                </div>
                            </section>
                        </aside>
                        <div class="catalog__main">

                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
