<!DOCTYPE html>
<html lang="ru">
<head>
    <title>6. Карточка товара</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="product">
                <div class="container">
                    <div class="grid">
                        <div class="grid__column grid__column--4">
                            <div class="grid__block" style="background-color: green; height: 300px;">
                                1
                            </div>

                            <div class="grid__block">
                                <div class="product-files">
                                    <p class="title-small title-small--product product-files__title">
                                        <span>
                                            Инструкции
                                        </span>
                                    </p>
                                    <a href="" class="link-file">
                                        <svg class="icon-svg link-file__icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-pdf"></use>
                                        </svg>
                                        <p class="link-file__title">
                                            Инструкция по установке и использованию.pdf <strong>Скачать</strong>
                                        </p>
                                    </a>
                                    <a href="" class="link-file">
                                        <svg class="icon-svg link-file__icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-pdf"></use>
                                        </svg>
                                        <p class="link-file__title">
                                            Инструкция по ремонту.pdf <strong>Скачать</strong>
                                        </p>
                                    </a>
                                </div>

                                <div class="product-files">
                                    <p class="title-small title-small--product product-files__title">
                                        <span>
                                            Сертификаты
                                        </span>
                                    </p>
                                    <a href="" class="link-file">
                                        <svg class="icon-svg link-file__icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-pdf"></use>
                                        </svg>
                                        <p class="link-file__title">
                                            Сертификат соответствия международным нормам качества.pdf <strong>Скачать</strong>
                                        </p>
                                    </a>
                                    <a href="" class="link-file">
                                        <svg class="icon-svg link-file__icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-pdf"></use>
                                        </svg>
                                        <p class="link-file__title">
                                            Сертификат соответствия международным нормам качества.pdf <strong>Скачать</strong>
                                        </p>
                                    </a>
                                </div>
                            </div>

                            <div class="grid__block">

                            </div>
                        </div>

                        <div class="grid__column grid__column--5">
                            <div class="grid__block">
                                <h1 class="product-title">
                                    Варочная поверхность FRANKE TREND LINE FHTL 755 4G TC BT C черная матовая
                                </h1>
                            </div>

                            <div class="grid__block">
                                <div class="product-params">
                                    <p class="title-small title-small--product product-params__title">
                                        <span>
                                            Основные параметры
                                        </span>
                                    </p>
                                    <div class="product-params__table">
                                        <div class="product-params__t-line product-params__t-head">
                                            <p>
                                                Наименование
                                            </p>
                                            <p>
                                                Значение
                                            </p>
                                        </div>
                                        <div class="product-params__t-line">
                                            <p>
                                                Торговая марка
                                            </p>
                                            <p>
                                                Franke
                                            </p>
                                        </div>
                                        <div class="product-params__t-line">
                                            <p>
                                                Декор
                                            </p>
                                            <p>
                                                106.0525.290
                                            </p>
                                        </div>
                                        <div class="product-params__t-line">
                                            <p>
                                                Торговая марка
                                            </p>
                                            <p>
                                                Franke
                                            </p>
                                        </div>
                                        <div class="product-params__t-line">
                                            <p>
                                                Декор
                                            </p>
                                            <p>
                                                106.0525.290
                                            </p>
                                        </div>
                                        <div class="product-params__t-line">
                                            <p>
                                                Торговая марка
                                            </p>
                                            <p>
                                                Franke
                                            </p>
                                        </div>
                                        <div class="product-params__t-line">
                                            <p>
                                                Декор
                                            </p>
                                            <p>
                                                106.0525.290
                                            </p>
                                        </div>
                                        <div class="product-params__t-line">
                                            <p>
                                                Торговая марка
                                            </p>
                                            <p>
                                                Franke
                                            </p>
                                        </div>
                                        <div class="product-params__t-line">
                                            <p>
                                                Декор
                                            </p>
                                            <p>
                                                106.0525.290
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="grid__block">
                                <div class="product-info">
                                    <p class="title-small title-small--product product-info__title">
                                        <span>
                                            Основные параметры
                                        </span>
                                    </p>
                                    <div class="product-into__content">
                                        <p class="product-info__line">
                                            <strong>Размеры:</strong> 750 x 510 мм
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Размеры выреза:</strong> 550 x 480 мм
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Материал:</strong> нержавеющая сталь/эмалированное покрытие
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Ручки:</strong> цвет серебро
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Газовых конфорок:</strong> 5, тройная корона
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Сверхмощная в центре:</strong> 3300 W
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Средней мощности задняя слева:</strong> 1750 W
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Средней мощности задняя справа:</strong> 1750 W
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Повышенной мощности спереди слева:</strong> 3000 W
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Экономичная спереди справа:</strong> 1000 W
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Тип подключения:</strong> независимый
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Управление:</strong> Переключатели
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Электроподжиг:</strong> Есть
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Газ-контроль конфорок:</strong> Есть
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Гриль:</strong> Нет
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Таймер:</strong> Нет
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Цвет рамки:</strong> В цвет корпуса
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Тип рамки:</strong> С рамкой
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Материал решеток:</strong> Чугун
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Конфорка WOK:</strong> Нет
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Встраивание в столешницу:</strong> Накладная
                                        </p>
                                        <p class="product-info__line">
                                            <strong>Комбинированный рабочий стол:</strong> Нет
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid__column grid__column--3">
                            <div class="grid__block">
                                <div class="product-card">
                                    <div class="product-card__price">
                                        <p class="product-card__price-title">
                                            цена со скидкой
                                        </p>
                                        <p class="product-card__price-info product-card__price-info--green">
                                            <strong>
                                                5 190
                                            </strong>
                                            руб./шт.
                                        </p>
                                    </div>
                                    <div class="product-card__price">
                                        <p class="product-card__price-title">
                                            розничная цена
                                        </p>
                                        <p class="product-card__price-info">
                                            <strong>
                                                5 500
                                            </strong>
                                            руб./шт.
                                        </p>
                                    </div>
                                    <div class="product-card__content">
                                        <p class="product-card__line">
                                            <strong>Артикул:</strong> 45645
                                        </p>
                                        <p class="product-card__line">
                                            <strong>Ближайшее поступление:</strong> 21.05.20
                                        </p>
                                        <p class="product-card__line">
                                            <strong>Наличие:</strong> более 10 шт.
                                        </p>
                                    </div>

                                    <form action="post" class="product-card__form">
                                        <div class="counter product-card__counter">
                                            <button class="counter__btn counter__btn--minus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-minus"></use>
                                                </svg>
                                            </button>
                                            <div class="counter__input">
                                                <input type="number" class="counter__input" value="10" min="0">
                                                <p class="counter__type">
                                                    шт.
                                                </p>
                                            </div>

                                            <button class="counter__btn counter__btn--plus">
                                                <svg class="icon-svg">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-plus"></use>
                                                </svg>
                                            </button>
                                        </div>

                                        <button class="btn btn--green product-card__btn">
                                            Добавить в корзину
                                        </button>
                                    </form>
                                    
                                    <!-- Если товар в избранном, то добавляем класс product-card__favorite--active -->
                                    <button class="product-card__favorite">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/sprite.svg#icon-star-clear"></use>
                                        </svg>
                                        <span>
                                            В избранное
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
