<!DOCTYPE html>
<html lang="ru">
<head>
    <title>7. Услуги</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="layout">
        @@include("../blocks/modules/header/header.html")
        <main class="layout__main">
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
            <section class="catalog">
                <div class="container">
                    <div class="catalog__content">
                        <div class="catalog__side">
                            <aside class="sidebar">
                                <p class="title-small sidebar__title">
                                    <span>Категории</span>
                                </p>
                                <a href="" class="sidebar__link">
                                    Карта скидок “Балтламинат”
                                </a>
                                <a href="" class="sidebar__link">
                                    Изготовление дверей для шкафов-купе
                                </a>
                                <a href="" class="sidebar__link">
                                    Оклейка
                                </a>
                                <a href="" class="sidebar__link">
                                    Распил
                                </a>
                                <a href="" class="sidebar__link">
                                    Доставка
                                </a>
                                <a href="" class="sidebar__link">
                                    Уд@ленный заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Товары под заказ
                                </a>
                                <a href="" class="sidebar__link">
                                    Нарезка и обработка стекла / зеркала
                                </a>
                                <a href="" class="sidebar__link">
                                    Фрезеровка
                                </a>
                                <a href="" class="sidebar__link">
                                    Заточка инструмента
                                </a>
                                <a href="" class="sidebar__link">
                                    Сверление
                                </a>
                            </aside>
                        </div>
                        <div class="catalog__main">
                            <div class="articles">
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Карта скидок “Балтламинат”
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Изготовление дверей для шкафов-купе
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Оклейка
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Распил
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Доставка
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Уд@ленный заказ
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Товары под заказ
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Нарезка и обработка стекла / зеркала
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Фрезеровка
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Заточка инструмента
                                    </p>
                                </a>
                                <a href="" class="item">
                                    <div class="item__thumb">
                                        <img src="http://placehold.it/900x900" alt="Петли BLUM под фальшпанель с углом открывания 83°">
                                    </div>
                                    <p class="item__title">
                                        Сверление
                                    </p>
                                </a>
                                <div class="item item--clear"></div>
                                <div class="item item--clear"></div>
                                <div class="item item--clear"></div>
                                <div class="item item--clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
    </div>
    <div class="hidden">
        @@include("../blocks/modules/modal/modal.html")
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
