.product {
	margin-bottom: 100px;
	&__grid {
		margin-bottom: 100px;
	}
}

.product-articles {
	&__title {
		margin-bottom: 50px;
		@include r(1200) {
			margin-bottom: 26px;
		}
	}
	&__articles {
		width: calc(100% / 12 * 9 - 16px);
		@include r(1200) {
			width: 100%;
		}
	}
}

.product-title {
	margin-bottom: 28px;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
	@include r(1200) {
		font-size: 20px;
		margin: 0px;
	}
}

.product-params {
	margin-bottom: 40px;
	&__title {
		margin-bottom: 40px;
	}
	&__table {
		display: block;
	}
	&__t-head {
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
	}
	&__t-line {
		display: flex;
		&:nth-child(2n + 1) {
			background-color: #F9F9F9;
		}
		p {
			padding: 11px 17px;
			&:nth-child(2n + 1) {
				width: 65%;
			}
			&:nth-child(2n) {
				width: 35%;
			}
		}
	}
}

.product-info {
	margin-bottom: 40px;
	&__title {
		margin-bottom: 28px;
	}
	&__content {

	}
	&__line {
		strong {
			margin-right: 10px;
			font-weight: bold;
		}
	}
}

.product-files {
	margin-bottom: 40px;
	&__title {
		margin-bottom: 26px;
	}
}

.product-card {
	background-color: $light;
	box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.14);
	padding: 30px 30px 40px 40px;
	&__title {
		// margin-bottom: 34px;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.1;
		max-height: 0px;
		margin-bottom: 0px;
		opacity: 0;
		transition: 0.3s all;
		&--visible {
			opacity: 1;
			margin-bottom: 34px;
			max-height: 1000px;
		}
		@include r(1200) {
			display: none !important;
		}
	}
	&__price {
		margin-bottom: 22px;
		&-title {
			margin-bottom: 5px;
			color: #828282;
		}
		&-info {
			font-size: 14px;
			text-transform: uppercase;
			strong {
				font-weight: bold;
				font-size: 30px;
			}
			&--green {
				color: $green;
			}
		}
	}
	&__content {
		margin-bottom: 22px;
	}
	&__line {
		margin-bottom: 10px;
		strong {
			font-weight: bold;
		}
	}
	&__counter {
		margin-bottom: 20px;
	}
	&__btn {
		padding-left: 27px;
		padding-right: 27px;
		text-transform: uppercase;
		margin-bottom: 22px;
	}
	&__favorite {
		height: 30px;
		display: inline-flex;
		align-items: center;
		transition: 0.3s all;
		cursor: pointer;
		background: none;
		&:hover {
			opacity: 0.7;
		}
		svg {
			display: block;
			height: 30px;
			width: 30px;
			margin-right: 8px;
		}
		span {
			font-weight: bold;
			font-size: 20px;
			text-transform: uppercase;
			color: #828282;
		}
	}
}

.product-video {
	iframe {
		height: 610px;
		width: 100%;
	}
}

.product-image {
	margin-bottom: 40px;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.product-type {
	margin-bottom: 40px;
	&__title {
		margin-bottom: 26px;
	}
}