.case {
	padding-top: 50px;
	margin-bottom: 50px;
	@include r(1700) {

	}
	&__header {
		margin-bottom: 50px;
		height: 60px;
		display: flex;
		align-items: flex-end;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__articles {
		width: calc(100% / 12 * 8 - 16px);
		@include r(1700) {
			width: calc(100% / 12 * 8 - 10px);
		}
	}
	&__items {
		margin-bottom: 15px;
	}
	&__sidebar {
		width: calc(100% / 12 * 4 - 16px);
		@include r(1700) {
			width: calc(100% / 12 * 4 - 10px);
		}
	}
	&__status {
		font-weight: bold;
		font-size: 30px;
	}
	&__link-all {
		color: $green;
		font-size: 20px;
		&:hover {
			text-decoration: none;
		}
	}
	&__form {
		margin-bottom: 32px;
		@include r(1700) {
			margin-bottom: 20px;
		}
	}
}

.item {
	width: 248px;
	text-decoration: none;
	color: $dark;
	margin-bottom: 30px;
	@include r(1700) {
		width: 180px;
		margin-bottom: 25px;
	}
	&:hover {
		opacity: 0.7;
	}
	&--clear {
		margin-bottom: 0px;
		height: 0px;
		overflow: hidden;
		padding: 0px;
		visibility: hidden;
	}
	&__thumb {
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
		height: 248px;
		width: 100%;
		margin-bottom: 20px;
		@include r(1700) {
			height: 180px;
			margin-bottom: 16px;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 1.3;
		@include r(1700) {
			font-size: 16px;		}
	}
}

.status {
	display: flex;
	align-items: center;
	&__input {
		flex-grow: 1;
		min-width: 0;
	}
	&__button {
		padding-left: 32px;
		padding-right: 32px;
		margin-left: 1px;
		@include r(1700) {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
}

.data-table {
	background-color: $green;
	color: $dark;
	padding: 32px 21px;
	&__title {
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 30px;
		line-height: 1.3;
		@include r(1700) {
			margin-bottom: 10px;
		}
		strong {
			color: $light;
		}
	}
	&__table {
		font-weight: 500;
		font-size: 18px;
		border-collapse: collapse;
		width: 100%;
		border: 3px solid $green;
		@include r(1700) {
			font-size: 16px;
		}
		td {
			padding-top: 20px;
			padding-bottom: 20px;
			@include r(1700) {
				padding-top: 14px;
				padding-bottom: 14px;
			}
			&:first-child {
				width: 60%;
				padding-right: 10px;
				@include r(1700) {
					width: 75%;
				}
			}
			&:last-child {
				width: 40%;
				text-align: center;
				padding-left: 10px;
				padding-right: 10px;
				@include r(1700) {
					width: 25%;
				}
			}
		}
		table {
			
		}
		td, th {
			border: 2px solid $light;
		}
	}
}