.intro {
	@include r(1200) {
		margin-bottom: 35px;
	}
	&__slider {
		overflow: visible;
	}
	&__wrapper {

	}
	&__slide {
		display: flex;
		background-color: $dark;
		color: $light;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s all;
		&--active {
			visibility: visible;
			opacity: 1;
		}
		@include r(1200) {
			display: block;
			justify-content: center;
			position: relative;
			padding-bottom: 40px;
			min-height: 500px;
			background-position: center;
		}
		@include r(800) {
			min-height: 0px;
		}
	}
	&__content {
		width: 50%;
		padding: 41px 47px 63px 47px;
		min-height: 540px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include r(1200) {
			text-align: center;
			width: 100%;
			display: block;
			padding: 22px;
			min-height: 0px;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}
	}
	&__thumb {
		width: 50%;
		min-height: 500px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include r(1200) {
			width: 100%;
			min-height: 0px;
			height: auto;
			display: none;
		}
		img {
			display: block;
			height: 80%;
			width: 80%;
			object-fit: cover;
			@include r(1200) {
				width: 100%;
				height: auto;
			}
		}
	}
	&__logo {
		margin-bottom: 30px;
		height: 90px;
		max-width: 100%;
		width: auto;
		display: block;
		@include r(1200) {
			// width: 100%;
			margin-left: auto;
			margin-right: auto;
			height: 45px;
			
		}
	}
	&__btn {
		width: 194px;
		text-transform: uppercase;
		// @include r(1200) {
		// 	display: none;
		// }
	}
	&__editor {
		flex-grow: 1;
		margin-bottom: 35px;
		h1, h2, h3, h4, h5, h6 {
			font-weight: 700;
			margin-bottom: 1rem;
			line-height: 1.2;
		}
		h1, h2 {
			font-size: 44px;
			text-transform: uppercase;
			@include r(1200) {
				font-size: 24px;
			}
		}
		h3 {
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
			@include r(1200) {
				font-size: 18px;
			}
		}
		h4 {
			font-size: 30px;
			font-weight: 700;
			@include r(1200) {
				font-size: 18px;
			}
		}
		h5 {
			font-size: 24px;
			font-weight: 700;
			@include r(1200) {
				font-size: 18px;
			}
		}
		h6 {
			font-size: 18px;
			font-weight: 700;
			@include r(1200) {
				font-size: 16px;
			}
		}
		p {
			margin-bottom: 1rem;
		}
		b, strong {
			font-weight: 700;
			font-size: 26px;
			display: block;
			@include r(1200) {
				font-size: 20px;
			}
		}
	}
	&__pagination {
		width: 100%;
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 0;
		z-index: 2;
		margin-top: -30px;
	}
	&__bullet {
		display: block;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
		border-radius: 10px;
		background-color: $light;
		padding: 21px 22px 11px 22px;
		width: calc(100% / 4 - 20px);
		margin-left: 10px;
		margin-right: 10px;
		cursor: pointer;
		transition: 0.3s all;
		position: relative;
		@include r(1200) {
			padding: 0;
			height: 10px;
			width: 10px;
		}
		&:hover {
			opacity: 0.7;
		}
		&--active {
			@include r(1200) {
				background-color: $dark;
			}
			.intro__progress-line:after {
				left: 0%;
				visibility: visible;
			}
		}
	}
	&__bullet-text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 28px;
		@include r(1200) {
			display: none;
		}
	}
	&__progress-line {
		width: 100%;
		height: 3px;
		background-color: #E5E5E5;
		display: block;
		position: relative;
		transition: 0.3s;
		overflow: hidden;
		@include r(1200) {
			display: none;
		}
		&:after {
			display: block;
			content: "";
			top: 0;
			bottom: 0;
			left: -100%;
			width: 100%;
			background-color: $dark;
			position: absolute;
			transition: 5s left;
			visibility: hidden;
		}
	}
}