.modal-menu {
	position: relative;
	display: flex;
	width: 100%;
	&__container {
		padding-left: 0px;
		padding-right: 0px;
		display: flex;
	}
	&__main-title {
		margin-bottom: 20px;
	}
	&__main {
		flex-grow: 1;
		min-width: 0;
		padding: 20px 40px 20px 20px;
	}
	&__content {
		column-count: 3;
		column-gap: 20px;
		visibility: hidden;
		display: none;
		&--active {
			display: block;
			visibility: visible;
		}
	}
	&__block {
		margin-bottom: 20px;
		page-break-inside: avoid;
	}
	&__title {
		display: flex;
		align-items: center;
		text-decoration: none;
		margin-bottom: 4px;
		&:hover {
			opacity: 0.7;
		}
	}
	&__title-cat {
		font-weight: 700;
		color: #F9F9F9;
		font-size: 80px;
		line-height: 1.1;
	}
	&__number {
		font-weight: bold;
		font-size: 40px;
		color: $green;
		margin-right: 10px;
	}
	&__title-text {
		font-size: 16px;
		color: $dark;
		font-weight: 700;
	}
	&__nav {
		width: calc(100% / 12 * 3);
		flex-shrink: 0;
		background-color: $black;
		padding: 78px 30px 30px 30px;
	}
	&__nav-title {

	}
	&__nav-link {
		display: block;
		color: $light;
		text-transform: uppercase;
		text-decoration: none;
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 0px;
		}
		&:hover {
			opacity: 0.7;
		}
		&--active {
			color: $green;
		}
	}
	&__link {
		display: block;
		color: #828282;
		text-decoration: none;
		&:hover {
			opacity: 0.7;
		}
	}
}

.modal-write {
	position: relative;
	padding: 23px 37px;
	@include r(1200) {
		padding: 20px;
	}
	&__title {
		margin-bottom: 48px;
		@include r(1200) {
			margin-bottom: 20px;
		}
	}
	&__btn {
		width: 248px;
	}
	&__toolbar {
		margin-bottom: 52px;
		display: flex;
		justify-content: space-between;
	}
}

.modal-service {
	&--hidden {
		max-width: 620px;
		width: 100%;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__slider {
		width: calc(50% - 16px);
	}
	&__text {
		width: calc(50% - 16px);
	}
}

.fancybox-container {
	&--menu {
		.fancybox-content {
			// width: 100%;
			padding: 0px;
		}

		.fancybox-close-small {
			height: 54px;
			width: 54px;
			transition: 0.3s all;
			top: 0px;
			right: 0px;
			color: #828282;
		}
	}
}

