.search {
	position: relative;
	&__input {
		width: 100%;
		height: 40px;
		border: 1px solid #333333;
		padding-right: 50px;
		padding-left: 8px;
	}
	&__btn {
		position: absolute;
		right: 0px;
		top: 0px;
		border: none;
		height: 100%;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		svg {
			width: 24px;
			height: 24px;
			display: block;
		}
	}
}

.btn {
	height: 50px;
	display: inline-flex;
	justify-content: center;
	align-items:center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s all;
	cursor: pointer;
	&--dark {
		background-color: $dark;
		color: $light;
		text-transform: uppercase;
	}
	&--green {
		background-color: $green;
	}
	&--gray {
		// color: $gray;
		background: #E5E5E5;
	}
	&--light {
		color: $dark;
		background-color: #ffffff;
	}
	&:hover {
		opacity: 0.7;
	}
}