svg, a {
	transition: 0.3s all;
}

svg, img {
	display: block;
}

.icon-svg {
	height: 1rem;
	width: 1rem;
}

i {
	font-size: inherit;
	color: inherit;
}

.body {
	font-family: $font-main;
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: $light;
	color: $dark;
	@include r(1100) {

	}
	@include r(580) {

	}
}