.layout {
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
	&__main {
		flex-grow: 1;
		// margin-bottom: 100px;
	}
}

.container {
	max-width: 1680px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@include r(1700) {
		max-width: 1210px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

.articles {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&--around {
		justify-content: space-around;
	}
}

.hidden {
	// display: none;
}

.grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__column {
		// margin-right: 32px;
		margin-bottom: 50px;
		&--3 {
			width: calc(100% / 12 * 3 - 12px);
		}
		&--4 {
			width: calc(100% / 12 * 4 - 12px);
		}
		&--5 {
			width: calc(100% / 12 * 5 - 12px);
		}
		&--6 {
			width: calc(100% / 12 * 6 - 12px);
		}
		&--8 {
			width: calc(100% / 12 * 8 - 12px);
		}
	}
	&__block {
		&--sticky {
			position: sticky;
			top: 15px;
		}
	}
}