.layout {
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
	&__main {
		flex-grow: 1;
		// margin-bottom: 100px;
	}
}

.container {
	max-width: 1680px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@include r(1700) {
		max-width: 1210px;
	}
}

.articles {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&--around {
		justify-content: space-around;
	}
}

.hidden {
	// display: none;
}

.catalog {
	margin-bottom: 100px;
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__side {
		width: calc(100% / 12 * 2 - 16px);
		@include r(1700) {
			width: calc(100% / 12 * 3 - 10px);
		}
	}
	&__main {
		width: calc(100% / 12 * 10 - 16px);
		@include r(1700) {
			width: calc(100% / 12 * 9 - 10px);
		}
	}
}