.lk-form {
	&__title {
		margin-bottom: 40px;
		font-size: 20px;
	}
	&__input {
		width: 100%;
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 40px;
		font-size: 20px;
	}
	&__btn {
		padding-left: 63px;
		padding-right: 63px;
		margin-right: 32px;
		margin-bottom: 32px;
		&:last-of-type {
			margin-right: 0px;
		}
	}
	&__section {
		margin-bottom: 48px;
	}
	&__grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&--start {
			justify-content: flex-start;
		}
	}
}

.lk-input {
	border: 1px solid $dark;
	height: 42px;
	font-family: $font-main;
	font-size: 16px;
	padding-left: 16px;
	padding-right: 16px;
	&::placeholder {
		color: #828282;
		font-family: $font-main;
		font-size: 16px;
	}
	&--large {
		height: 68px;
		font-size: 20px;
		border: 2px solid $dark;
		&::placeholder {
			font-size: 20px;
		}
	}
}

.lk-field {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	&--50 {
		width: calc(50% - 16px);
	}
	&__title {
		margin-bottom: 10px;
		width: 100%;
	}
	&__wrapper {
		width: 100%;
		position: relative;
		&--50 {
			width: calc(50% - 8px);
		}
	}
	&__input {
		width: 100%;
		&:disabled {
			background-color: #F9F9F9;
			border-color: #E5E5E5;
		}
	}
	&__discript {
		width: 100%;
		color: #BDBDBD;
		line-height: 1.2;
		&--50 {
			width: calc(50% - 8px);
		}
	}
	&__toggle {
		width: 26px;
		height: 26px;
		position: absolute;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		background: none;
		cursor: pointer;
		transition: 0.3s all;
		right: 0px;
		top: 50%;
		padding: 8px;
		box-sizing: content-box;
		transform: translateY(-50%);
		&:hover {
			opacity: 0.7;
		}
		svg {
			width: 100%;
			fill: $dark;
		}
		.lk-field__icon-visible {
			display: none;
		}
		&--visible {
			.lk-field__icon-visible {
				display: flex;
			}
			.lk-field__icon-unvisible {
				display: none;
			}
		}
	}
}

.capcha {
	margin-bottom: 40px;
}

.ill-check {
	cursor: pointer;
	display: inline-flex;
	margin-right: 32px;
	margin-bottom: 32px;
	&__input {
		display: none;
		&:checked {
			& + .ill-check__block {
				.ill-check__ill {
					svg {
						fill: $green;
					}
				}
				.ill-check__marker {
					opacity: 1;
				}
			}
		}
		&:disabled {
			& + .ill-check__block {
				border-color: #E5E5E5;
				.ill-check__ill {
					svg {
						fill: #E5E5E5;
					}
				}
				.ill-check__text {
					color: #E5E5E5;
				}
				.ill-check__forungle {
					border-color: #E5E5E5;
				}
			}
		}
	}
	&__block {
		width: 240px;
		height: 132px;
		display: flex;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 1px solid $dark;
		align-items: center;
	}
	&__ill {
		width: 45px;
		height: 45px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 16px;
		svg {
			width: 100%;
			height: 100%;
			display: block;
			fill: #BDBDBD;
			transition: 0.3s all;
		}
	}
	&__text {
		line-height: 1.2;
		text-align: center;
		user-select: none;
	}
	&__icon {
		height: 34px;
		width: 16px;
		display: flex;
		align-items:center;
		transform: translateY(-50%) translateX(-50%);
		background-color: $light;
		justify-content: center;
		left: 0px;
		position: absolute;
		top: 50%;
	}
	&__forungle {
		height: 16px;
		width: 16px;
		border: 1px solid #2E2E2E;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__marker {
		background-color: $dark;
		width: 8px;
		height: 8px;
		transition: 0.3s all;
		opacity: 0;
	}
}

.final-price {
	background-color: $light;
	padding: 28px 30px 42px 30px;
	box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.14);
	&__title {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 37px;
	}
	&__section {
		border-bottom: 1px solid $dark;
		margin-bottom: 10px;
		&:last-of-type {
			border-bottom: none;
			margin-bottom: 35px;
		}
	}
	&__text {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 22px;
		strong {
			font-weight: bold;
			font-size: 30px;
		}
	}
	&__btn {
		padding-left: 53px;
		padding-right: 53px;
	}
}

.lk-info-line {
	font-weight: bold;
	margin-bottom: 20px;
	&__head {
		font-weight: normal;
		color: #828282;
		display: inline-block;
		margin-right: 20px;
	}
	a {
		color: $green;
		text-decoration: underline;
		font-weight: normal;
		&:hover {
			text-decoration: none;
		}
	}
}

.lk-company {
	&__header {
		background-color: #F9F9F9;
		font-weight: bold;
		font-size: 30px;
		line-height: 1.2;
		padding: 13px 16px;
		margin-bottom: 32px;
	}
	&__grid {
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		width: calc(100% / 3);
		margin-bottom: 48px;
	}
	&__title {
		margin-bottom: 40px;
	}
	&__info-block {
		margin-bottom: 16px;
	}
	&__name {
		color: #828282;
	}
	&__text {

	}
}

.lk-question {
	background-color: $light;
	box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.14);
	padding: 27px 34px;
	&__title {
		margin-bottom: 34px;
		font-weight: 500;
	}
	&__list {
		margin-bottom: 28px;
	}
	&__btn {
		padding-left: 38px;
		padding-right: 38px;
	}
}

.lk-progress {
	background-color: $green;
	padding: 20px 29px 34px 29px;
	margin-bottom: 48px;
	&__title {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 23px;
		font-size: 20px;
		strong {
			color: $light;
		}
	}
	&__text {
		margin-bottom: 48px;
	}
	&__img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.lk-catalog {
	padding-top: 40px;
	&__grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.lk-table-section {
	margin-bottom: 40px;
	&:last-of-type {
		margin-bottom: 0px;
	}
	&__title {
		font-weight: bold;
		font-size: 30px;
		margin-bottom: 26px;
	}
	&__table {
		margin-bottom: 32px;
	}
	&__toolbar {
		display: flex;
		&--right {
			justify-content: flex-end;
		}
	}
}

.lk-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	&__input {
		display: none;
		&:checked {
			& + .lk-checkbox__icon {
				background-color: $black;
				svg {
					opacity: 1;
				}
			}
		}
	}
	&__icon {
		flex-shrink: 0;
		height: 16px;
		width: 16px;
		transition: 0.3s all;
		position: relative;
		background-color: $light;
		border: 1px solid $dark;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: 12px;
			height: 12px;
			display: block;
			opacity: 0;
			transition: 0.3s all;
		}
	}
}

.lk-table {
	border: 1px solid #E5E5E5;
	&__line {
		padding: 14px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&--head {
			background-color: #F9F9F9;
			justify-content: flex-start;
		}
	}
	&__btn {
		margin-right: 45px;
	}
}

.select-all {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #828282;
	padding-left: 16px;
	padding-right: 16px;
	height: 40px;
	cursor: pointer;
	transition: 0.3s all;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: inherit;
	&:hover {
		opacity: 0.7;
	}
}

.remove-all {
	display: flex;
	align-items: center;
	color: #EB5757;
	cursor: pointer;
	transition: 0.3s all;
	padding-right: 16px;
	background-color: inherit;
	&:hover {
		opacity: 0.7;
	}
	&__icon {
		width: 40px;
		height: 40px;
		flex-shrink: 0;
		margin-right: 15px;
	}
	&__text {
		flex-shrink: 0;
	}
}

.lk-item {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	background-color: $light;
	border-bottom: 1px solid #E5E5E5;
	&__col {
		flex-shrink: 0;
		&--checkbox {
			width: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-right: 1px solid #E5E5E5;
			@include r(1700) {
				width: 40px;
			}
		}
		&--number {
			width: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			@include r(1700) {
				width: 45px;
			}
		}
		&--thumb {
			display: flex;
			align-items: center;
		}
		&--content {
			min-width: 0px;
			flex-grow: 1;
			padding: 16px 32px;
			flex-shrink: 1;
			@include r(1700) {
				padding: 16px 16px;
			}
		}
		&--count {
			padding: 16px 32px;
			display: flex;
			justify-content: center;
			align-items:center;
			width: 300px;
			@include r(1700) {
				padding: 16px 16px;
				width: 220px;
			}
		}
		&--result {
			width: 220px;
			padding: 16px 32px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include r(1700) {
				padding: 16px 16px;
				width: 200px;
			}
		}
	}
	&__thumb {
		width: 106px;
		height: 106px;
		flex-shrink: 0;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			display: block;
		}
	}
	&__text {
		&--accent {
			color: $green;
		}
		a {
			color: $dark;
			&:hover {
				text-decoration: none;
			}
		}
		strong {
			color: #828282;
		}
		b {
			font-weight: bold;
			font-size: 20px;
			@include r(1700) {
				font-size: 18px;
			}
		}
		s {
			color: #828282;
		}
	}
	&__count {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		width: 100%;
		b {
			font-weight: bold;
			font-size: 20px;
			@include r(1700) {
				font-size: 18px;
			}
		}
	}
}

.lk-table-toolbar {
	display: flex;
	&--head {
		background-color: #F9F9F9;
		padding-top: 15px;
		padding-bottom: 15px;
		align-items: center;
		border-bottom: 1px solid #E5E5E5;
		@include r(1700) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&--footer {
		background-color: $light;
		padding-top: 35px;
		padding-bottom: 35px;
		align-items: stretch;
		@include r(1700) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&__col {
		flex-shrink: 0;
		&--checkbox {
			width: 60px;
			display: flex;
			justify-content: center;
			align-items: center;
			@include r(1700) {
				width: 40px;
			}
		}
		&--all {
			width: 166px;
			@include r(1700) {
				width: 151px;
			}
		}
		&--grow {
			flex-grow: 1;
			min-width: 0px;
			padding-left: 32px;
			padding-right: 32px;
			@include r(1700) {
				padding-left: 16px;
				padding-right: 16px;
			}
		}
		&--footer-grow {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-grow: 1;
			min-width: 0px;
			padding: 16px 32px;
			@include r(1700) {
				padding: 16px;
			}
		}
		&--repair {
			padding: 16px 32px;
			width: 220px;
			@include r(1700) {
				width: 200px;
				padding: 16px;
			}
		}
		&--removed {
			padding: 16px 32px;
			width: 300px;
			display: flex;
			justify-content: flex-end;
			@include r(1700) {
				width: 220px;
				padding: 16px;
			}
		}
		&--result {
			padding: 16px 32px;
			width: 220px;
			display: block;
			@include r(1700) {
				padding: 16px;
				width: 200px;
			}
		}
	}
	&__repair-btn {
		color: $green;
		text-decoration: underline;
		height: 40px;
		cursor: pointer;
		background: none; 
		transition: 0.3s all;
		&:hover {
			opacity: 0.7;
			text-decoration: none;
		}
	}
	&__text {
		&--accent {
			color: $green;
		}
		strong {
			font-weight: bold;
			font-size: 20px;
			@include r(1700) {
				font-size: 18px;
			}
		}
	}
	&__status {
		font-weight: bold;
		font-size: 20px;
		&--red {
			color: $red;
		}
		&--yellow {
			color: $yellow;
		}
		&--green {
			color: $green;
		}
	}
}

.lk-orders {
	border: 1px solid #E5E5E5;
}

.lk-order {
	background-color: $light;
	border-bottom: 1px solid #E5E5E5;
	&:last-of-type {
		border-bottom: 0px;
	}
	&__line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&--head {
			background-color: #F9F9F9;
		}
	}
	&__col {
		min-height: 70px;
		flex-shrink: 0;
		padding-top: 16px;
		padding-bottom: 16px;
		&--number {
			border-right: 1px solid #E5E5E5;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&--info {
			padding-left: 52px;
			padding-right: 52px;
			display: flex;
			align-items: center;
			a {
				color: $green;
				font-weight: bold;
				font-size: 20px;
				&:hover {
					text-decoration: none;
				}
			}
		}
		&--grow {
			min-width: 0px;
			flex-grow: 1;
			flex-shrink: 1;
		}
		&--person {
			padding-left: 103px;
			padding-right: 32px;
			display: flex;
			align-items: center;
		}
		&--date {
			padding-left: 32px;
			padding-right: 32px;
			display: flex;
			align-items: center;
		}
		&--count {
			display: flex;
			align-items: center;
			padding-left: 32px;
			padding-right: 32px;
		}
		&--status {
			display: flex;
			align-items: center;
			padding-left: 32px;
			padding-right: 32px;
			text-align: center;
			width: 164px;
		}
	}
	&__text {
		strong {
			color: #828282;
		}
		b {
			font-weight: bold;
		}
	}
	&__status {
		font-weight: bold;
		&--red {
			color: $red;
		}
		&--yellow {
			color: $yellow;
		}
		&--green {
			color: $green;
		}
	}
}

.lk-filter {
	margin-bottom: 43px;
	display: flex;
	align-items: center;
	&__text {
		margin-right: 16px;
	}
	&__datepicker {
		border: 1px solid #2E2E2E;
		font-size: 16px;
		height: 40px;
		padding-left: 8px;
		background-repeat: no-repeat;
		background-position: 94% center;
		padding-right: 50px;
		width: 240px;
		margin-right: 32px;
	}
}