.search {
	position: relative;
	&__input {
		width: 100%;
		height: 40px;
		border: 1px solid #333333;
		padding-right: 50px;
		padding-left: 8px;
	}
	&__btn {
		position: absolute;
		right: 0px;
		top: 0px;
		border: none;
		height: 100%;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		svg {
			width: 24px;
			height: 24px;
			display: block;
		}
	}
}

.btn {
	height: 50px;
	display: inline-flex;
	justify-content: center;
	align-items:center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s all;
	cursor: pointer;
	&--dark {
		background-color: $dark;
		color: $light;
		text-transform: uppercase;
	}
	&--green {
		background-color: $green;
	}
	&--gray {
		// color: $gray;
		background: #E5E5E5;
	}
	&--light {
		color: $dark;
		background-color: #ffffff;
	}
	&:hover {
		opacity: 0.7;
	}
}

.title {
	color: $green;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 50px;
	line-height: 1.3;
}

.title-small {
	font-weight: bold;
	font-size: 30px;
	position: relative;
	padding-left: 20px;
	line-height: 1.2;
	width: fit-content;
	&:after {
		left: 0px;
		position: absolute;
		bottom: 3px;
		height: 4px;
		width: 100%;
		background-color: $green;
		content: "";
		z-index: 1;
	}
	span {
		position: relative;
		z-index: 2;
	}
}

.title-black {
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
}

.date {
	display: flex;
	align-items: flex-end;
	width: 178px;
	flex-shrink: 0;
	&__date {
		font-weight: bold;
		font-size: 80px;
		color: $green;
		line-height: 0.88;
		margin-right: 10px;
		flex-shrink: 0;
	}
	&__mounth {
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
	}
	&__year {
		color: #BDBDBD;
		font-weight: bold;
		font-size: 30px;
		line-height: 1;
	}
}

.input {
	border: 1px solid $dark;
	padding-left: 18px;
	padding-right: 18px;
	font-family: $font-main;
	height: 50px;
	&:placeholder {
		font-family: $font-main;
	}
}

.arrow {
	display: block;
	width: 70px;
	text-decoration: none;
	color: $dark;
	&:hover {
		opacity: 0.7;
	}
	svg {
		width: 100%;
		height: 11px;
		display: block;
	}
	&--prev {
		text-align: right;
	}
	&--next {
		text-align: left;
		svg {
			transform: rotate(180deg);
		}
	}
	&--static {
		opacity: 0.5;
		pointer-event: none;
	}
	&__title {
		margin-bottom: 3px;
	}
}