.service {
	&__grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__column {
		margin-bottom: 50px;
		@include r(1200) {
			margin-bottom: 0px;
			width: 100%;
		}
		&--4 {
			width: calc(100% / 10 * 4 - 16px);
		}
		&--6 {
			width: calc(100% / 10 * 6 - 16px);
		}
		&--8 {
			width: calc(100% / 10 * 8 - 16px);
		}
	}
	&__ill {
		display: block;
		width: 100%;
		height: auto;
	}
}

.service-text {
	margin-bottom: 40px;
	&__title {
		margin-bottom: 40px;
		font-weight: bold;
		font-size: 30px;
		line-height: 1.3;
		@include r(1200) {
			font-size: 20px;
			margin: 0px;
			margin-bottom: 25px;
		}
	}
}

.service-table {
	margin-bottom: 40px;
	&__title {
		margin-bottom: 40px;
	}
}

.service-catalog {
	&__title {
		margin-bottom: 40px;
	}
}